<div class="hero-section">
  <div class="hero-container-a">
    <div class="hero-container-a-div">
      <h1 class="hero-container-a-h1">
        We're having trouble displaying this! Please use a supported browser!
      </h1>
    </div>
  </div>
</div>

<div class="unclaimed-overview-section">
  <div class="unclaimed-overview-header-wrapper">
    <h2 class="unclaimed-overview-header-textblock-h3">
      Here are the browsers we support:
    </h2>
    <div class="unclaimed-overview-header-textblock">
      PS: ClaimFound supports most modern browsers.
    </div>
  </div>
  <div class="unclaimed-overview-graphic-container">
    <div class="unclaimed-overview-graphic-wrapper">
      <div class="unclaimed-overview-h3">Google Chrome</div>
      <div class="unclaimed-overview-textblock">
        <a href="https://www.google.com/chrome/">Download Chrome</a>
      </div>
    </div>
    <div class="unclaimed-overview-graphic-wrapper">
      <div class="unclaimed-overview-h3">Mozilla Firefox</div>
      <div class="unclaimed-overview-textblock">
        <a href="https://www.mozilla.org/en-US/firefox/">Download Firefox</a>
      </div>
    </div>
    <div class="unclaimed-overview-graphic-wrapper">
      <div class="unclaimed-overview-h3">Microsoft Edge</div>
      <div class="unclaimed-overview-textblock">
        <a href="https://www.microsoft.com/en-us/edge">Download Edge</a>
      </div>
    </div>
    <div class="unclaimed-overview-graphic-wrapper">
      <div class="unclaimed-overview-h3">Safari</div>
      <div class="unclaimed-overview-textblock">
        <a href="https://support.apple.com/downloads/safari">Download Safari</a>
      </div>
    </div>
    <div class="unclaimed-overview-graphic-wrapper">
      <div class="unclaimed-overview-h3">Opera</div>
      <div class="unclaimed-overview-textblock">
        <a href="https://www.opera.com/">Download Opera</a>
      </div>
    </div>
  </div>
</div>
