<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<cf-header></cf-header>
<div class="_404-container">
    <div class="_404-wrapper">
        <div class="_404-icon-div"></div>
        <div class="_404-message-div">
             <div class="_404-textblock-1">Oh no!</div>
             <div class="_404-textblock-2">It doesn't look like there is any lost money on this page.</div>
            <div class="_404-textblock-3">Checkout these pages instead!</div>
            <div class="_404-textlink-div">
                <a class="_404-textlink" href="">Home</a>
                <a class="_404-textlink" href="/login">Sign-In</a>
                <a class="_404-textlink" href="/#signup">Sign-Up</a>
                <a class="_404-textlink" href="http://help.claimfound.com">Learn</a>
            </div>
        </div>
    </div>
</div>
<cf-footer></cf-footer>
