
<div class="dashboard-canvas-section">
    <div class="canvas-body-wrapper">
        <div class="jump-off-container">
            <div class="jump-off-wrapper">
                <div class="jump-off-text-header">Referral to a third-party website</div>
                <div class="jump-off-textblock-1">ClaimFound partners with other third-party websites to provide you access to a directory of attorneys, as well as general information regarding certain legal topics.</div>
                <div class="jump-off-textblock-1">By entering a third-party website, you are leaving ClaimFound. As such, you agree to comply with all of the terms and conditions of service and use for that site.</div>
                <div class="jump-off-textblock-1">ClaimFound is not responsible for the content or accuracy of the information provided on a third-party website. ClaimFound does not endorse, approve, guarantee, or recommend any of the information provided on a third-party wesbite, nor does ClaimFound endorse, approve, guarantee, or recommend any lawyer or law firm listed on a third-party directory. ClaimFound does not make any representation and has not made any judgment as to the qualifications, expertise, or credentials of any participating lawyer.</div>
                <div class="jump-off-div">
                    <img src="/images/lawyer-check-graphic-1.png" class="lawyer-directory-graphic" width="103">
                    <div class="jump-off-div-spacer">
                        <div class="jump-off-div-textblock-1">Let's help you find an attorney that can help you process your deceased relatives' unclaimed property!</div>
                        <div (click)="exitLinkClick()" class="jump-off-div-button">Go to Directory</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
