/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 8, 2017, 11:25:21 PM
    Author     : christofferprompovitch
*/

/*---------------------------------------------ABOUT HERO SECTION-----------------------------------------------------*/

.about-hero-section {
}

.about-hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 275px;
  padding-bottom: 155px;
  padding-left: 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url("/images/gems-joules-graphic-1.svg");
  background-position: 94% 102%;
  background-size: 250px;
  background-repeat: no-repeat;
}

.about-hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 825px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.about-hero-h2 {
  margin-bottom: 20px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.about-hero-para {
  margin-bottom: 20px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.75px;
}

.about-hero-textblock {
  font-family: "Graphik", sans-serif;
  color: #22baff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

/*---------------------------------------------ABOUT CONTENT SECTION--------------------------------------------------*/

.about-content-section {
  padding-top: 0px;
  padding-bottom: 100px;
  background-color: #29346f;
}

.about-content-graphic-wrapper {
  padding-left: 80px;
}

.about-content-graphic-div {
  width: 166px;
  height: 611px;
  margin-top: -460px;
  /*background-image: url('/images/tree-graphic.svg');*/
  /*background-position: 0px 0px;*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
}

.about-content-started-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-content-started-wrapper {
  width: 70%;
  padding: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
}

.about-content-started-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-content-started-div-a {
  width: 70%;
}

.about-content-started-h2 {
  margin-bottom: 20px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 1px;
  font-weight: 500;
}

.about-content-started-para {
  margin-bottom: 20px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.about-content-started-div-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding-right: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.about-content-started-div-b-graphic {
  width: 147px;
  background-image: url("/images/plant-graphic.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-content-started-search-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about-content-started-search-textblock {
  margin-bottom: 15px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.75px;
}

.hero-search-div.alt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 25px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 4px;
  background-color: #4f5093;
  box-shadow: 0 6px 10px 0 rgba(47, 48, 138, 0.5);
}

/*---------------------------------------------CAREERS SECTION--------------------------------------------------------*/

.about-careers-section {
}

.about-careers-graphic-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about-careers-graphic {
  width: 319px;
  height: 100px;
  margin-top: -18px;
  background-image: url("/images/leaf-graphic.svg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-careers-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 75px;
  padding-bottom: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-careers-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-careers-h2 {
  margin-bottom: 15px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 1px;
  font-weight: 700;
}

.about-careers-textblock-1 {
  margin-bottom: 15px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.75px;
}

.about-career-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about-careers-textblock-3 {
  margin-right: 5px;
  font-family: "Graphik", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  letter-spacing: 0.5px;
}

.about-careers-textlink {
  font-family: "Graphik", sans-serif;
  color: #5193df;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media (max-width: 1440px) {
  /*---------------------------------------------ABOUT HERO SECTION-----------------------------------------------------*/

  .about-hero-section {
  }

  .about-hero-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 225px;
    padding-bottom: 125px;
    padding-left: 250px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url("/images/gems-joules-graphic-1.svg");
    background-position: 94% 102%;
    background-size: 225px;
    background-repeat: no-repeat;
  }

  .about-hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 725px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .about-hero-h2 {
    margin-bottom: 20px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1.5px;
  }

  .about-hero-para {
    margin-bottom: 20px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }

  .about-hero-textblock {
    font-family: "Graphik", sans-serif;
    color: #22baff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  /*---------------------------------------------ABOUT CONTENT SECTION--------------------------------------------------*/

  .about-content-section {
    padding-top: 0px;
    padding-bottom: 100px;
    background-color: #29346f;
  }

  .about-content-graphic-wrapper {
    padding-left: 50px;
  }

  .about-content-graphic-div {
    width: 150px;
    height: 550px;
    margin-top: -405px;
    /*background-image: url('/images/tree-graphic.svg');*/
    /*background-position: 0px 0px;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
  }

  .about-content-started-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-content-started-wrapper {
    width: 70%;
    padding: 50px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
  }

  .about-content-started-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 75px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .about-content-started-div-a {
    width: 70%;
  }

  .about-content-started-h2 {
    margin-bottom: 20px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 1px;
  }

  .about-content-started-para {
    margin-bottom: 20px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .about-content-started-div-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    padding-right: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .about-content-started-div-b-graphic {
    width: 147px;
    background-image: url("/images/plant-graphic.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about-content-started-search-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .about-content-started-search-textblock {
    margin-bottom: 15px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.75px;
  }

  .hero-search-div.alt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 25px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 4px;
    background-color: #4f5093;
    box-shadow: 0 6px 10px 0 rgba(47, 48, 138, 0.5);
  }

  /*---------------------------------------------CAREERS SECTION--------------------------------------------------------*/

  .about-careers-section {
  }

  .about-careers-graphic-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .about-careers-graphic {
    width: 319px;
    height: 100px;
    margin-top: -18px;
    background-image: url("/images/leaf-graphic.svg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-careers-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 75px;
    padding-bottom: 150px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-careers-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-careers-h2 {
    margin-bottom: 15px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1px;
  }

  .about-careers-textblock-1 {
    margin-bottom: 15px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.75px;
  }

  .about-career-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .about-careers-textblock-3 {
    margin-right: 5px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .about-careers-textlink {
    font-family: "Graphik", sans-serif;
    color: #5193df;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 991px) {
  /*---------------------------------------------ABOUT HERO SECTION-----------------------------------------------------*/

  .about-hero-section {
  }

  .about-hero-container {
    padding-top: 115px;
    padding-bottom: 150px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-hero-wrapper {
    width: 600px;
  }

  .about-hero-h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .about-hero-para {
    font-size: 14px;
    line-height: 24px;
  }

  .about-hero-textblock {
    font-size: 18px;
    line-height: 28px;
  }

  /*---------------------------------------------ABOUT CONTENT SECTION--------------------------------------------------*/

  .about-content-section {
    padding-bottom: 25px;
  }

  .about-content-graphic-wrapper {
    display: none;
  }

  .about-content-graphic-div {
  }

  .about-content-started-container {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .about-content-started-wrapper {
    width: 90%;
    padding: 35px 20px;
  }

  .about-content-started-div {
    margin-bottom: 35px;
  }

  .about-content-started-div-a {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .about-content-started-h2 {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .about-content-started-para {
    font-size: 14px;
    line-height: 23px;
  }

  .about-content-started-div-b {
    display: none;
  }

  .about-content-started-search-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .about-content-started-search-textblock {
    margin-bottom: 15px;
    font-family: "Graphik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.75px;
  }

  .hero-search-div.alt {
    width: 100%;
    height: auto;
    padding: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /*---------------------------------------------CAREERS SECTION--------------------------------------------------------*/

  .about-careers-section {
  }

  .about-careers-graphic-container {
  }

  .about-careers-graphic {
    width: 275px;
    height: 84px;
  }

  .about-careers-container {
    padding-top: 50px;
    padding-bottom: 125px;
  }

  .about-careers-wrapper {
  }

  .about-careers-h2 {
    font-size: 28px;
  }

  .about-careers-textblock-1 {
    font-size: 16px;
  }

  .about-careers-div {
  }

  .about-careers-div {
  }

  .about-careers-textblock-3 {
  }

  .about-careers-textlink {
  }
}

@media (max-width: 767px) {
  /*---------------------------------------------ABOUT HERO SECTION-----------------------------------------------------*/

  .about-hero-section {
  }

  .about-hero-container {
    padding-top: 100px;
    padding-bottom: 150px;
    background-position: 87% 103%;
    background-size: 225px;
  }

  .about-hero-wrapper {
    width: auto;
    padding-right: 7%;
    padding-left: 7%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .about-hero-h2 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1.25px;
  }

  .about-hero-para {
  }

  .about-hero-textblock {
  }

  /*---------------------------------------------ABOUT CONTENT SECTION--------------------------------------------------*/

  .about-content-section {
    padding-bottom: 75px;
  }

  .about-content-graphic-wrapper {
  }

  .about-content-graphic-div {
  }

  .about-content-started-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-content-started-wrapper {
    width: 90%;
  }

  .about-content-started-div {
    margin-bottom: 20px;
  }

  .about-content-started-div-a {
    padding-right: 0px;
    padding-left: 0px;
  }

  .about-content-started-h2 {
    font-size: 24px;
  }

  .about-content-started-para {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }

  .about-content-started-div-b {
  }

  .about-content-started-search-div {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-content-started-search-textblock {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.75px;
  }

  .hero-search-div.alt {
    width: 362px;
  }

  /*---------------------------------------------CAREERS SECTION--------------------------------------------------------*/

  .about-careers-section {
  }

  .about-careers-graphic-container {
  }

  .about-careers-graphic {
    width: 250px;
    height: 78px;
  }

  .about-careers-container {
  }

  .about-careers-wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }

  .about-careers-h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .about-careers-textblock-1 {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    margin-bottom: 5px;
  }

  .about-career-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-careers-textblock-3 {
    font-size: 12px;
  }

  .about-careers-textlink {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  /*---------------------------------------------ABOUT HERO SECTION-----------------------------------------------------*/

  .about-hero-section {
  }

  .about-hero-container {
    padding-top: 100px;
    padding-bottom: 150px;
    background-position: 51% 102%;
    background-size: 225px;
  }

  .about-hero-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-hero-h2 {
    margin-bottom: 35px;
    font-size: 28px;
  }

  .about-hero-para {
    margin-bottom: 35px;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  .about-hero-textblock {
    text-align: center;
  }

  /*---------------------------------------------ABOUT CONTENT SECTION--------------------------------------------------*/

  .about-content-section {
  }

  .about-content-graphic-wrapper {
  }

  .about-content-graphic-div {
  }

  .about-content-started-container {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .about-content-started-wrapper {
    padding: 25px;
  }

  .about-content-started-div {
    margin-bottom: 10px;
  }

  .about-content-started-div-a {
  }

  .about-content-started-h2 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
  }

  .about-content-started-para {
    margin-bottom: 25px;
    font-size: 13px;
    text-align: center;
  }

  .about-content-started-div-b {
  }

  .about-content-started-search-div {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-content-started-search-textblock {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
  }

  .hero-search-div.alt {
    width: 315px;
    padding-right: 25px;
    padding-left: 25px;
  }

  /*---------------------------------------------CAREERS SECTION--------------------------------------------------------*/

  .about-careers-section {
  }

  .about-careers-graphic-container {
  }

  .about-careers-graphic {
  }

  .about-careers-container {
  }

  .about-careers-wrapper {
  }

  .about-careers-h2 {
  }

  .about-careers-textblock-1 {
  }

  .about-career-div {
  }

  .about-careers-textblock-3 {
    text-align: center;
  }

  .about-careers-textlink {
  }
}
