<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="about-hero-section">
  <div class="about-hero-container">
    <div class="about-hero-wrapper">
      <div class="about-hero-h2">About ClaimFound</div>
      <div class="about-hero-para">ClaimFound makes software to automate financial processes and link people with opportunities they would not have knowledge or access to otherwise. We are a focused team based out of Gainesville, Florida whose purpose is to directly improve the financial welfare of everyday Americans. </div>
      <div class="about-hero-textblock">We do this by putting money directly in your pockets.</div>
    </div>
  </div>
</div>


<div class="about-content-section">
    <div class="about-content-graphic-wrapper">
        <img src="/images/tree-graphic.svg" class="about-content-graphic-div" height="200px">
    </div>
    <div class="about-content-started-container">
        <div class="about-content-started-wrapper">
            <div class="about-content-started-div">
                <div class="about-content-started-div-a">
                    <div class="about-content-started-h2">Why We Started ClaimFound</div>
                    <div class="about-content-started-para">In 2014, a close family friend learned that he had an unclaimed life insurance policy in his name, but no idea how to find it. Fast forward more than a year later, countless hours researching, multiple legal consultations, and bureaucratic red tape, he had finally gotten his money.</div>
                    <div class="about-content-started-para">We wondered if there was an easier way and how many people had the same experience? No surprise - there wasn&#x27;t and lots of people. That&#x27;s when we decided to try and make the process easier.</div>
                </div>
                <div class="about-content-started-div-b">
                    <div class="about-content-started-div-b-graphic"></div>
                </div>
            </div>
            <div class="about-content-started-search-div">
                <div class="about-content-started-search-textblock">See if you have any unclaimed property</div>
                <cf-property-search class="hero-search-div alt"></cf-property-search>
            </div>
        </div>
    </div>
</div>

<div class="about-careers-section">
    <div class="about-careers-graphic-container">
        <div class="about-careers-graphic"></div>
    </div>
    <div class="about-careers-container">
        <div class="about-careers-wrapper">
            <div class="about-careers-h2">We&#x27;re Hiring</div>
            <div class="about-careers-textblock-1">We&#x27;re always looking for the best and brightest to join the ClaimFound Team</div>
            <div class="about-career-div">
                <div class="about-careers-textblock-3">If you&#x27;re interested in joining our team, please email us at</div>
                <div class="about-careers-textlink">Careers@Claimfound.com</div>
            </div>
        </div>
    </div>
</div>
