<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <!--Make sure to include this next line when adding a new template-->
  <div id="contact-page-top"></div>

<div class="contact-us-banner">
    <div>
      <h1 class="contact-us-banner-header">It's time to reclaim what is rightfully yours</h1>
    </div>
  </div>
  <div class="s3">
    <div class="w-container">
      <h3 class="contact-us-header">Our Process</h3>
      <blockquote class="process-quote">When We Say Easy, We Mean It</blockquote>
      <div class="w-row">
        <div class="process-column w-col w-col-3"><img class="process-image" src="/images/number41.png" width="64">
          <h4 class="process-headings">User Profile</h4>
          <p class="process-para">Introductions are everything. We get to know you and then fill out a profile so we can verify all of your claims.&nbsp;</p>
        </div>
        <div class="process-column w-col w-col-3"><img class="process-image" src="/images/number40.png" width="64">
          <h4 class="process-headings">Documentation</h4>
          <p class="process-para">We prepare all of the appropriate documentation for your claims and you review our user agreement.</p>
        </div>
        <div class="process-column w-col w-col-3"><img class="process-image" src="/images/number37.png" width="64">
          <h4 class="process-headings">Submit Claims</h4>
          <p class="process-para">We submit all of your claims to the appropriate state agencies and provide you tracking updates.&nbsp;</p>
        </div>
        <div class="w-col w-col-3"><img class="process-image" src="/images/stars63.png" width="65">
          <h4 class="process-headings">Claim Disbursement</h4>
          <p class="process-para">You receive the property that is rightfully yours without lifting a finger.&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="contact-us-container-2 w-container">
      <div class="w-row">
        <div class="pricing-column-1 w-col w-col-6">
          <h2 class="fida">Pricing</h2>
          <div>
            <p class="pricing-para">Everyone is different and so is every claim -- some more work than others, but we are trying to standardize the claims process, so we want our pricing to be standardized, too.&nbsp;&nbsp;</p>
          </div>
          <div>
            <p class="pricing-para-2">$5 Flat&nbsp;Fee</p>
            <p class="_3 pricing-para">No Hassle. No Gimmicks.&nbsp;&nbsp;</p>
          </div>
          <p class="_2 pricing-para">Your fee is going to a good cause and ultimately helping other people. All fees are used to help build the company return more unclaimed property to their rightful owners.</p>
        </div>
        <div class="pricing-column-2 w-col w-col-6">
          <h2 class="fida">Help Us Find Your Claims</h2>
          <div class="form-wrapper w-form">
            <form class="form-box" data-name="Email Form" id="email-form" name="email-form">
              <label class="contact-us-field-label" for="name">Name:</label>
              <input class="form-name w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" required="required" type="text">
              <label class="contact-us-field-label" for="email-3">Email Address:</label>
              <input class="form-email w-input" data-name="Email 3" id="email-3" maxlength="256" name="email" placeholder="Enter your email address" required="required" type="email">
              <label class="contact-us-field-label" for="Phone-Number">Phone Number</label>
              <input class="form-phone-number w-input" data-name="Phone Number" id="Phone-Number" maxlength="256" name="Phone-Number" placeholder="Enter your phone number" required="required" type="text">
              <input class="submit-button w-button" data-wait="Please wait..." type="submit" value="Submit">
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-us-container">
    <div class="contact-us-container-4 w-container">
      <div class="map-row w-row">
        <div class="w-col w-col-4">
          <h4 class="contact-us-head">Location</h4>
          <p class="contact-us-para">1875 Connecticut Avenue, NW&nbsp;
            <br>Washington, D.C 20009</p>
        </div>
        <div class="w-col w-col-4">
          <h4 class="contact-us-head">Hours of Operation</h4>
          <p class="contact-us-para">Monday - Friday:&nbsp;9:00 AM - 6:00 PM&nbsp;
            <br>Saturday:&nbsp;10:00 PM - 4:00 PM&nbsp;</p>
        </div>
        <div class="w-col w-col-4">
          <h4 class="contact-us-head">Contact Information</h4>
          <p class="contact-us-para">Info@ClaimFound.com
            <br>1-800-434-5973</p>
        </div>
      </div>
    </div>
    <div class="w-container">
      <div class="map-tabs w-tabs" data-duration-in="300" data-duration-out="100">
        <div class="w-tab-menu">
          <a class="tab-header w--current w-inline-block w-tab-link" data-w-tab="Tab 1"></a>
        </div>
        <div class="w-tab-content">
          <div class="tab-1 w--tab-active w-tab-pane" data-w-tab="Tab 1">
            <div>
              <div class="map w-widget w-widget-map" data-widget-latlng="38.915719,-77.04595" data-widget-style="roadmap" data-widget-zoom="12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
