<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


    <div class="lpp-banner-section">
      <div class="lpp-banner-container">
          <div class="lpp-banner-wrapper">
              <h1 class="lpp-banner-header-h1">Privacy &amp; Security</h1>
          </div>
      </div>
    </div>

    <div class="lpp-nav-bar">
    <div class="lpp-nav-bar-div">
        <div class="lpp-nav-bar-textblock selected" routerLink="{{ links.footer.privacy.url }}">Privacy &amp; Security</div>
        <div class="lpp-nav-bar-selected-div selected"></div>
    </div>
    <div class="lpp-nav-bar-div">
        <div class="lpp-nav-bar-textblock" routerLink="{{ links.footer.tos.url }}">Terms of Service</div>
        <div class="lpp-nav-bar-selected-div"></div>
    </div>
    <div class="lpp-nav-bar-div">
        <div class="lpp-nav-bar-textblock" routerLink="{{ links.footer.acknowledgements.url }}">Acknowledgements</div>
        <div class="lpp-nav-bar-selected-div"></div>
    </div>
</div>

<div class="lpp-content-section">
    <div class="lpp-content-section-break">
        <div class="lpp-content-container-left">
            <div
                    class="lpp-content-nav-div pp-nav"
                    cf-apply-class-at-distance-from
                    position="375"
                    applyClass="stop-scroll"
                    direction="bottom"
                    cf-apply-class-when-elem-leaves-view
                    leaveClass="resume-scroll"
            >
                <div class="lpp-content-nav-div-header">Quick Reference</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="infoType" (click)="onAnchorClick()">Types of Information we Collect</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="infoUse" (click)="onAnchorClick()">Use of Your Personal Information</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="infoDisclosure" (click)="onAnchorClick()">Disclosure of Your Personal Information</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="infoChoice" (click)="onAnchorClick()">Your Choices Regarding Information</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="userGeneratedContent" (click)="onAnchorClick()">User Generated Content</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="thirdPartyWebsites" (click)="onAnchorClick()">Third-Party Websites</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="securityPractices" (click)="onAnchorClick()">Security Practices</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="outsideUSVisitors" (click)="onAnchorClick()">Visitors Outside of The United States</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="childrenNote" (click)="onAnchorClick()">A Note About Children</div>
                <div class="lpp-content-nav-div-textlink" routerLink="{{ links.footer.privacy.url }}" fragment="contactUs" (click)="onAnchorClick()">How to Contact Us</div>
            </div>
        </div>
        <div class="lpp-content-container-right">
            <div class="lpp-update-textblock">Last Updated: January 4, 2019</div>
            <div class="lpp-mission-textblock">At ClaimFound, we believe complete transparency is the only way to build genuine trust with our users and partners. This is especially true for how we gather and respect your personal information. To achieve our goal for transparency, we have written and designed this online privacy policy to empower and inform you about your privacy while on ClaimFound’s website.</div>
            <div class="lpp-values-container">
                <div class="lpp-values-wrapper"><img src="/images/ppl-security-icon.svg" width="75" alt="" class="lpp-values-graphic protected">
                    <div class="lpp-values-div">
                        <div class="lpp-values-textblock-1">YOUR DATA IS SECURE & PROTECTED</div>
                        <div class="lpp-values-textblock-2">All data entered into the Site is encrypted using industry-standard SSL technology before being sent to our servers in an off-site data center. Our servers are supported by multiple levels of protection including firewalls, private subnets and multi-factor authentication.</div>
                    </div>
                </div>
                <div class="lpp-values-wrapper"><img src="/images/control-data-icon.svg" width="75" alt="" class="lpp-values-graphic sale">
                    <div class="lpp-values-div">
                        <div class="lpp-values-textblock-1">YOUR DATA IS YOURS</div>
                        <div class="lpp-values-textblock-2">You have control over how we share your data. We may need to share your information with our partners so they can perform requested services which allow us to operate the platform: for example, we pass your information to Unclaimed Property Departments so they can process your claims. You can opt out of these arrangements at any time by contacting us.</div>
                    </div>
                </div>
                <div class="lpp-values-wrapper"><img src="/images/lpp-fraud-icon.svg" width="75" alt="" class="lpp-values-graphic fraud">
                    <div class="lpp-values-div">
                        <div class="lpp-values-textblock-1">WE ARE COMMITTED TO FIGHTING FRAUD</div>
                        <div class="lpp-values-textblock-2">Unclaimed Property is an industry surrounded by misinformation and skepticism. There are many reported cases of individuals who fraudulently try to claim other peoples money each year. To help ensure that the only person who can claim your unclaimed property is the rightful owner of that property - you - we have developed a process to verify your identity and to alert us if someone is fraudulently trying to claim your money. </div>
                    </div>
                </div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock">ClaimFound Privacy Policy</div>
                <div class="lpp-content-body-textblock">ClaimFound,Inc. (“<strong>Claimfound</strong>”, “Company”, “<strong>we</strong>”, “<strong>us</strong>” or “our”) is committed to protecting your privacy.  We have prepared this Privacy Policy to describe to you our practices regarding the personal information we collect from users of our website at <a href="http://www.claimfound.com">www.claimfound.com</a> and any other website to which we post this Privacy Policy (the “<strong>Sites</strong>”), as well as through any of the online services we provide through our Sites or otherwise (together with the Sites, the “Services”).</div>
                <div class="lpp-content-body-textblock">ThisPrivacy Policy may be updated from time to time for any reason.  We will notify you of any changes to our Privacy Policy by posting the new PrivacyPolicy here <a href="http://www.claimfound.com/privacy">www.claimfound.com/privacy</a> and we will change the “Last Updated” date above.  You should consult this Privacy Policy regularly for any changes.</div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="infoType">TYPES OF INFORMATION WE COLLECT</div>
                <div class="lpp-content-body-textblock">We collect personal information as described below:</div>
                <div class="lpp-content-div">
                    <div class="lpp-content-div-header-textblock">Information You Provide To Us</div>
                    <ul class="lpp-content-div-ul">
                        <li class="lpp-content-div-ul-li"><span class="text-span-4">Contact information</span>. We may collect your contact information, such as your first name, last name, e-mail addresses, mailing addresses, phone number, and states that you have lived in.</li>
                        <li class="lpp-content-div-ul-li"><span class="text-span">Information regarding family members and other relatives</span>. We may collect information regarding your family members and other relatives, such as their first and last names, e-mail addresses, mailing addresses, phone numbers, and states that they have lived in.</li>
                        <li class="lpp-content-div-ul-li"><span class="text-span-2">Account information</span>. If you use features of the Services that require a user account, we collect information you provide to allow us to create and administer your accounts, such as an email address and password. </li>
                        <li class="lpp-content-div-ul-li"><span class="text-span-3">Transaction and payment information</span><strong>.</strong>  When you order services on our Sites, we will collect all information necessary to complete the transaction, including your name, credit card information, billing information, and shipping information.</li>
                        <li class="lpp-content-div-ul-li"><span class="text-span-5">Correspondence</span>. We may collect information about you that you provide when you request information from us or otherwise correspond with us.</li>
                        <li class="lpp-content-div-ul-li"><span class="text-span-6">Sensitive information</span>. If necessary to complete a transaction, we collect sensitive information, such as your social security number.</li>
                        <li class="lpp-content-div-ul-li"><span class="text-span-7">Other information</span>. We may collect other information about you that is not specifically listed here and will use it in accordance with this Privacy Policy.</li>
                    </ul>
                    <div class="lpp-content-div-header-textblock">Information Collected Via Our Web Servers</div>
                    <div class="lpp-content-body-textblock">To make our Sites and Services more useful to you, our web servers (which may be hosted by a third-party service provider)collect information from you, including your browser type, operating system,Device ID, Internet Protocol (“IP”) address (a number that is automatically assigned to your computer when you use the Internet, which may vary from session-to-session),domain name, and a time stamp for your visit. We collect this information in server logs and by using cookies, web beacons, and similar tracking technologies.</div>
                    <div class="lpp-content-div-header-textblock">Information Collected From Third-Parties</div>
                    <div class="lpp-content-body-textblock">We may collect personal information about you from third parties, such as publicly-accessible websites and third-party partners (e.g., ClaimFound Legal Markets LLC.). We may add this information to the information we have already collected from you via the Services and will handle it in accordance with this Privacy Policy.</div>
                </div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="infoUse">USE OF YOUR PERSONAL INFORMATION</div>
                <div class="lpp-content-body-textblock">We use your personal information for the following purposes and as otherwise described in this Privacy Policy or on our Services at the time of collection:</div>
                <div class="lpp-content-div">
                    <div class="lpp-content-div-header-textblock">To Operate the Site. <span class="text-span-8">We use your personal information to:</span></div>
                    <ul class="lpp-content-div-ul">
                        <li class="lpp-content-div-ul-li">provide, operate and improve the Sites and the Services we offer through them;</li>
                        <li class="lpp-content-div-ul-li">facilitate the creation of your account on our network;</li>
                        <li class="lpp-content-div-ul-li">verify your identity;</li>
                        <li class="lpp-content-div-ul-li">improve the quality of experience when you interact with our Sites and Services;</li>
                        <li class="lpp-content-div-ul-li">communicate with you about the Services, including by sending you administrative e-mail notifications, such as security, support, and maintenance advisories; and</li>
                        <li class="lpp-content-div-ul-li">respond to your requests, questions, and feedback related to the Services.</li>
                    </ul>
                    <div class="lpp-content-div-header-textblock">To Process Your Transactions</div>
                    <div class="lpp-content-body-textblock">We use your personal information to fulfill the orders you make through the Services.</div>
                    <div class="lpp-content-div-header-textblock">For Research and Development</div>
                    <div class="lpp-content-body-textblock">We analyze use of the Services to study trends and users’ movements around the Sites, gather demographic information about our user base, improve the Services and develop new products and services.</div>
                    <div class="lpp-content-div-header-textblock">To Send You Marketing Communications</div>
                    <div class="lpp-content-body-textblock">We may send you marketing communications, but you may opt out of receiving them as described in the Email Communication section below.</div>
                    <div class="lpp-content-div-header-textblock">To Create Anonymized Data</div>
                    <div class="lpp-content-body-textblock">We may create aggregated and other anonymous data from our users’ information.  We convert personal information into anonymized data by removing information that makes the data personally identifiable.  We may use this anonymized data and share it with third parties to understand and improve the Services, promote our business, and for other lawful business purposes.</div>
                    <div class="lpp-content-div-header-textblock">For Compliance, Fraud Prevention, and Safety. We may use your personal information and share it with government officials, law enforcement or private parties, as we believe appropriate to:</div>
                    <ul class="lpp-content-div-ul">
                        <li class="lpp-content-div-ul-li">protect our, your or others&#x27; rights, privacy, safety or property (including by making and defending legal claims);</li>
                        <li class="lpp-content-div-ul-li">protect, investigate, and deter against fraudulent, harmful, unauthorized, unethical or illegal activity;</li>
                        <li class="lpp-content-div-ul-li">comply with applicable laws, lawful requests, and legal processes, such as to respond to subpoenas or requests from government authorities; and</li>
                        <li class="lpp-content-div-ul-li">where permitted by law in connection with a legal investigation.</li>
                    </ul>
                    <div class="lpp-content-div-header-textblock">User Testimonials and Feedback</div>
                    <div class="lpp-content-body-textblock">We often receive testimonials and comments from users who have had positive experiences with ourServices, as well as feedback from users regarding improvements which can be made to better our Services.We occasionally publish such content for various purposes, including the illustration of the benefits of using ourServices as well as our responsiveness to user input. When we publish testimonials or comments, we may identify the user providing the testimonial or comment by the user’s first and last name, as well as indicating the user’s home city. When we publish feedback, we may identify the user providing the feedback by the user’s first name and last initial only. We do not publish any user testimonials, comments, or feedback without first obtaining the user’s consent to do so.</div>
                </div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="infoDisclosure">DISCLOSURE OF YOUR PERSONAL INFORMATION</div>
                <div class="lpp-content-body-textblock">We do not share your personal information with third parties without your consent, except in the following circumstances or as otherwise described in this Privacy Policy:</div>
                <div class="lpp-content-div">
                    <div class="lpp-content-div-header-textblock">Users</div>
                    <div class="lpp-content-body-textblock">We do not share your personal information with other Users except as may be necessary for the sole purpose of providing the Services.  We do not share your personal information with other Users without first obtaining your consent to do so.</div>
                    <div class="lpp-content-div-header-textblock">Affiliates</div>
                    <div class="lpp-content-body-textblock">We may share some or all of your personal information with our parent company, subsidiaries, or other companies under a common control (“Affiliates”), in which case we will require our Affiliates to honor this Privacy Policy.</div>
                    <div class="lpp-content-div-header-textblock">Service Providers</div>
                    <div class="lpp-content-body-textblock">We share your personal information with third parties to help us provide the Services, such as: assisting in the submission of information to State Unclaimed PropertyDepartments, delivering email messages and other communications, gathering website analytics, obtaining IT support, obtaining legal or other professional services, and processing payments.  We authorize these third parties to access your personal information to the extent reasonably necessary for them to provide their services.</div>
                    <div class="lpp-content-div-header-textblock">Corporate Restructuring</div>
                    <div class="lpp-content-body-textblock">We may sell, transfer or otherwise share some or all of our business or assets, including your personal information, in connection with a business deal (or potential business deal) such as a corporate divestiture, merger, consolidation, acquisition, reorganization or sale of assets, or in the event of bankruptcy or dissolution.</div>
                    <div class="lpp-content-div-header-textblock">Identity Verification Partners and Marketing Affiliates</div>
                    <div class="lpp-content-body-textblock">We may share your personal information with partners who help us verify your identify and with marketing affiliates who partner with us to offer services and products that we think you might be interested in.  We do not control how these business partners handle your personal information, which is governed by their own privacy policies. If you have questions about our business partners’ privacy practices, we encourage you to contact them.</div>
                </div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="infoChoice">YOUR CHOICES REGARDING INFORMATION</div>
                <div class="lpp-content-body-textblock">You have several choices regarding the use of information on our Services:</div>
                <div class="lpp-content-div">
                    <div class="lpp-content-div-header-textblock">Email Communications</div>
                    <div class="lpp-content-body-textblock">We will periodically send you free newsletters and e-mails that directly promote the use of our Sites or Services.  When you receive newsletters or promotional communications from us, you may indicate a preference to stop receiving further communications from us and you will have the opportunity to“opt-out” by following the unsubscribe instructions provided in the e-mail you receive or by contacting us directly (please see contact information below). We may continue to send you service related communications, including notices of any updates to our Terms of Use or Privacy Policy.</div>
                    <div class="lpp-content-div-header-textblock">Cookies and Similar Technologies</div>
                    <div class="lpp-content-body-textblock">We may allow service providers and other third parties to use cookies and similar technologies to track your browsing activity over time and across the Sites and third-party websites.  Some Internet browsers may be configured to send “Do Not Track” signals to the online services that you visit.  We currently do not respond to“Do Not Track” or similar signals.  To find out more about “Do Not Track,” please visit http://www.allaboutdnt.com.</div>
                    <div class="lpp-content-div-header-textblock">Changing or Deleting Your Personal Information</div>
                    <div class="lpp-content-body-textblock">All users may review, update, correct or delete the personal information in their user account(including any imported contacts) by [contacting us or editing their profile via the Services.] If you completely delete all of your personal information, then your user account may become deactivated. We will use commercially reasonable efforts to honor your request. We may retain an archived copy of your records as required by law or for legitimate business purposes.</div>
                </div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="userGeneratedContent">USER GENERATED CONTENT</div>
                <div class="lpp-content-body-textblock">We may make available on our Sites, or link to, features that allow you to share information online(e.g., on our blog, in comment areas, etc.). Please be aware that whenever you voluntarily disclose personal information online, that information becomes public and can be collected and used by others. We have no control over, and take no responsibility for, the use, storage or dissemination of such publicly-disclosed personal information. By posting personal information online in public forums, you may receive unsolicited messages from other parties.</div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="thirdPartyWebsites">THIRD-PARTY WEBSITES</div>
                <div class="lpp-content-body-textblock">The Sites may contain links to other websites and services operated by third parties.  These links are not an endorsement of, or representation that we are affiliated with, any third party.  We do not control third-party websites, applications or services, and are not responsible for their actions.  Other websites and services follow different rules regarding their collection, use, and sharing of your personal information.  We encourage you to read their privacy policies to learn more.</div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="securityPractices">SECURITY PRACTICES</div>
                <div class="lpp-content-body-textblock">The security of your personal information is important to us. We employ a number of organizational, technical and physical safe guards designed to protect the personal information we collect.  However, security risk is inherent in all internet and information technologies and we cannot guarantee the security of your personal information. If you have a user account for the Services, you are solely responsible for maintaining and protecting the confidentiality of your account login information, including the password and other account information in your possession.</div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="outsideUSVisitors">USE OF SERVICES BY VISITORS OUTSIDE OF THE UNITED STATES</div>
                <div class="lpp-content-body-textblock">The Services are operated from the United States. Any information we obtain about you in connection with your use of the Services may be processed and stored in, and subject to the laws of, the United States or other countries. Privacy laws in the locations where we process and store your personal information may not be as protective as the privacy laws in your home country.</div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="childrenNote">A NOTE ABOUT CHILDREN</div>
                <div class="lpp-content-body-textblock">We do not intentionally gather personal information from visitors who are under the age of 13. If a child under 13 submits personal information to Company and we learn that the personal information is the information of a child under 13, we will attempt to delete the information as soon as possible. If you believe that we might have any personal information from a child under 13, please contact us at legal@claimfound.com.</div>
            </div>
            <div class="lpp-content-wrapper">
                <div class="lpp-content-header-textblock" id="contactUs">HOW TO CONTACT US</div>
                <div class="lpp-content-body-textblock">Please direct any questions or comments about this policy to: <br>{{ companyName }}<br>Attn: Legal<br>{{ companyAddressLineOne }}<br>{{ companyAddressLineTwo }}<br>{{ companyPhone }}</div>
            </div>
         </div>
    </div>
</div>

