<!DOCTYPE html>

<div class="stories-hero-section" id="stories-hero">
    <div class="stories-hero-container">
        <div class="stories-hero-graphic-div"></div>
        <div class="stories-hero-graphic-wrapper">
            <div class="stories-hero-graphic-h2">Real People. Real Stories. Real Money Found.</div>
        </div>
    </div>
    <div class="stories-hero-stats-container">
        <div class="stories-hero-stats-wrapper">
            <div class="stories-hero-stats-div">
                <div class="stories-hero-stats-div-block">
                    <div class="stories-hero-stats-textblock-1">$60B+</div>
                    <div class="stories-hero-stats-textblock-2">Total Claims in the U.S.</div>
                </div>
            </div>
            <div class="stories-hero-stats-div">
                <div class="stories-hero-stats-div-block">
                    <div class="stories-hero-stats-textblock-1">100M+</div>
                    <div class="stories-hero-stats-textblock-2">Americans With Claims</div>
                </div>
            </div>
            <div class="stories-hero-stats-div">
                <div class="stories-hero-stats-div-block">
                    <div class="stories-hero-stats-textblock-1">$7B+</div>
                    <div class="stories-hero-stats-textblock-2">New Claims Every Year</div>
                </div>
            </div>
            <div class="stories-hero-stats-div">
                <div class="stories-hero-stats-div-block">
                    <div class="stories-hero-stats-textblock-1">$200</div>
                    <div class="stories-hero-stats-textblock-2">Average Claim</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stories-testimonial-section">
    <div class="stories-testimonial-container">
        <div class="stories-wrapper-a">
            <div class="stories-wrapper-a-h3">I didn't think I had any money out there. Turns out I did.</div>
            <div class="stories-wrapper-a-para">I heard about unclaimed property before, but never knew much about it. I keep my affairs in order, so I assumed it didn’t apply to me. Well, my son looked me up on ClaimFound and saw that I had some money owed to me. He was right!</div>
            <div class="stories-wrapper-a-para">There was over $200 from an old bank account that had gotten closed out. Honestly, I still don’t know much about unclaimed property but I know that it was really easy to get my check with ClaimFound.</div>
        </div>
        <div class="stories-wrapper-b">
            <div class="stories-wrapper-b-image-3"></div>
            <div class="stories-wrapper-b-content-div w-clearfix">
                <div class="stories-wrapper-b-content-div-1">
                    <div class="stories-wrapper-b-content-div-1-textblock-1">Bill M.</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Age: 56</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">State: Florida</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Profession: Auctioneer</div>
                </div>
                <div class="stories-wrapper-b-content-div-2">
                    <div class="stories-wrapper-b-content-div-2-textblock-1">AMOUNT CLAIMED</div>
                    <div class="stories-wrapper-b-content-div-2-textblock-2">$226</div>
                </div>
            </div>
        </div>
    </div>
    <div class="stories-testimonial-container alt">
        <div class="stories-wrapper-a alt">
            <div class="stories-wrapper-a-h3">ClaimFound helped me pay off my credit card debt.</div>
            <div class="stories-wrapper-a-para">In 2013, while in college I had a part-time job working for Sprint. When I graduated and moved away, through some confusion, I never ended up getting my last paycheck. With all the hustle and bustle of moving, I eventually forgot about it and moved on.</div>
            <div class="stories-left-div-para-header">THE PROCESS</div>
            <div class="stories-wrapper-a-para">A few years later (in 2018), I remembered those checks and wondered what happened to them. After doing a quick search on ClaimFound, I saw 3 claims totaling around $1100 and it dawned on me: those must have been my old paychecks.</div>
            <div class="stories-wrapper-a-para">I immediately signed up and went through the whole process in around 30 minutes - it took me a little longer to find the supporting documentation than I thought. ClaimFound made it easy though, and about 6 weeks later I got my check for $1100.</div>
            <div class="stories-left-div-para-header">THE IMPACT</div>
            <div class="stories-wrapper-a-para">Ever since graduating, I’ve been working to chip away at credit card debt. Even with student loans and a job, I managed to amass more on my credit cards than I would have liked (college is expensive!).</div>
            <div class="stories-wrapper-a-para">With the check ClaimFound helped me get, I made my last payment on that old card--which I wouldn’t have finished paying off for another 10 months. ClaimFound literally helped me take control of my finances and I can’t tell you the relief I feel closing that chapter of my life.</div>
        </div>
        <div class="stories-wrapper-b alt">
            <div class="stories-wrapper-b-image-2"></div>
            <div class="stories-wrapper-b-content-div w-clearfix">
                <div class="stories-wrapper-b-content-div-1">
                    <div class="stories-wrapper-b-content-div-1-textblock-1">Mike A.</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Age: 26</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">State: Florida</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Profession: Software Sales</div>
                </div>
                <div class="stories-wrapper-b-content-div-2">
                    <div class="stories-wrapper-b-content-div-2-textblock-1">AMOUNT CLAIMED</div>
                    <div class="stories-wrapper-b-content-div-2-textblock-2">$1,110</div>
                </div>
            </div>
        </div>
    </div>
    <div class="stories-testimonial-container">
        <div class="stories-wrapper-a">
            <div class="stories-wrapper-a-h3">I got a free dinner out of it. Can’t argue with that.</div>
            <div class="stories-wrapper-a-para">I stumbled across ClaimFound while doing some Googling one day. Did a quick search and saw that I had $30 I was owed from a utility deposit I made on my first apartment in college. Like 5 minutes later I had submitted everything I needed and filed my claim through ClaimFound. I got a check from the State of Florida about three weeks later. Only $30, but hey, it literally cost me nothing. Free sushi is free sushi.</div>
        </div>
        <div class="stories-wrapper-b">
            <div class="stories-wrapper-b-image-1"></div>
            <div class="stories-wrapper-b-content-div w-clearfix">
                <div class="stories-wrapper-b-content-div-1">
                    <div class="stories-wrapper-b-content-div-1-textblock-1">Izzy T.</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Age: 29</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">State: Florida</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Profession: Firefighter</div>
                </div>
                <div class="stories-wrapper-b-content-div-2">
                    <div class="stories-wrapper-b-content-div-2-textblock-1">AMOUNT CLAIMED</div>
                    <div class="stories-wrapper-b-content-div-2-textblock-2">$30</div>
                </div>
            </div>
        </div>
    </div>
    <div class="stories-testimonial-container alt">
        <div class="stories-wrapper-a alt">
            <div class="stories-wrapper-a-h3">My check came when I needed it the most&mdash;in between jobs and while I was moving.</div>
            <div class="stories-wrapper-a-para">For the last several years, I've gotten experience in a bunch of different careers. I've been a registered nurse, sold pharmaceutical software, and even owned a pizza shop. Despite all of these experiences, I never felt like I truly found my calling until recently. I finally had an opportunity to try my hand at real estate and made a move across the state to start my new job. The only problem was that I was in between pay checks and spent a lot of my money on the move. ClaimFound helped me get $145 and it came at the perfect time&mdash;during my exciting, but financially stressful career change.</div>
        </div>
        <div class="stories-wrapper-b alt">
            <div class="stories-wrapper-b-image-4"></div>
            <div class="stories-wrapper-b-content-div w-clearfix">
                <div class="stories-wrapper-b-content-div-1">
                    <div class="stories-wrapper-b-content-div-1-textblock-1">Brandon E.</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Age: 34</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">State: Florida</div>
                    <div class="stories-wrapper-b-content-div-1-textblock-2">Profession: Real Estate</div>
                </div>
                <div class="stories-wrapper-b-content-div-2">
                    <div class="stories-wrapper-b-content-div-2-textblock-1">AMOUNT CLAIMED</div>
                    <div class="stories-wrapper-b-content-div-2-textblock-2">$145</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stories-search-section">
    <div class="stories-search-container">
        <div class="stories-search-div">
            <div class="stories-search-div-textblock">Search For Your Lost Money</div>
        </div>
        <div class="stories-search-wrapper">
            <cf-property-search class="hero-search-div"></cf-property-search>
        </div>
    </div>
</div>