@import "src/variables";
.stepContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.step-contentWrapper {
  width: 75%;
}

step-contentWrapper.completed {
  color: rgba(136, 148, 141, 0.5);
}

.step-content-textHeader {
  margin-bottom: 2.5px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.step-content-textHeader.completed {
  color: rgba(136, 148, 141, 0.5);
}

.step-content-textBlock {
  margin-bottom: 0px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.step-content-textBlock.completed {
  color: rgba(136, 148, 141, 0.5);
}

.step-buttonWrapper {
  width: 25%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

button {
  height: 40px;
  width: 100px;
  padding: 0px;
  border-radius: 5px;
  background-color: $button-bck-color;
  font-family: $header_font_family;
  font-size: $button-font-size;
  font-weight: $button-font-wt;
  letter-spacing: $button-letter-spacing;
  color: $button-color;
}

button:hover {
  background-color: rgba(36, 90, 170, 0.5);
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
}

button.disabled,
button.disabled:hover,
button.disabled:focus {
  background-color: rgba(136, 148, 141, 0.2);
  cursor: default;
  border: 1px solid rgba(136, 148, 141, 0.2);
  color: #888a8d;
}

.step-button-completeDiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.step-button-complete-textblock {
  font-family: "Graphik", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-left: 5px;
}

.completedFormsDiv {
}

.link-text {
  margin-top: 15px;
  font-family: $header_font_family;
  color: $dashboard-link-color;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.link-text.viewed {
  color: #a6a8aa;
}

@media (max-width: 991px) {
  .stepContainer {
  }

  .step-contentWrapper {
  }

  .step-content-textHeader {
  }

  .step-content-textBlock {
  }

  .step-buttonWrapper {
  }

  button {
  }

  .step-button-completeDiv {
  }

  .step-button-complete-textblock {
  }

  .completedFormsDiv {
  }

  .link-text {
  }

  .link-text.viewed {
  }
}

@media (max-width: 767px) {
  .stepContainer {
  }

  .step-contentWrapper {
    width: 70%;
  }

  .step-content-textHeader {
  }

  .step-content-textBlock {
    padding-right: 20px;
  }

  .step-buttonWrapper {
    width: 30%;
  }

  button {
  }

  .step-button-completeDiv {
  }

  .step-button-complete-textblock {
  }

  .completedFormsDiv {
  }

  .link-text {
  }

  .link-text.viewed {
  }
}

@media (max-width: 479px) {
  .stepContainer {
    display: block;
  }

  .step-contentWrapper {
    width: 100%;
  }

  .step-content-textHeader {
    margin-bottom: 5px;
  }

  .step-content-textBlock {
    padding: 0px;
  }

  .step-buttonWrapper {
    display: block;
    width: 100%;
    margin-top: 15px;
  }

  button {
    width: 100%;
  }

  .step-button-completeDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
  }

  .step-button-complete-textblock {
  }

  .completedFormsDiv {
  }

  .link-text {
    margin-top: 10px;
  }

  .link-text.viewed {
  }
}
