<div [formGroup]="passResetForm">
    <div class="forgot-password-form-div">
        <label class="sign-in---label" for="newPassword">Enter New Password</label>
        <div class="passwordwrapper {{getFieldErrorClass('newPassword')}}">
            <input class="sign-in-field" [id]="newPassword" maxlength="256" name="newPassword" required
                pattern={{password.value}} type="password" formControlName="newPassword">
            <div class="passwordtoggle" cfPasswordToggle [passwordId]="newPassword"></div>
        </div>
    </div>
    <div class="forgot-password-form-div">
        <label class="sign-in---label" for="password">Re-enter New Password</label>
        <div class="passwordwrapper {{getFieldErrorClass('password')}}">
            <input class="sign-in-field w-input form-control" [id]="password" maxlength="256" name="password" required
                pattern={{newPassword.value}} type="password" formControlName="password">
            <div class="passwordtoggle" cfPasswordToggle [passwordId]="password"></div>
        </div>
    </div>
    <div class="fp1 sign-in-button-div w-clearfix">
        <button class="sign-in-button w-button" type="submit"
            [ngStyle]="{
            'cursor': (passResetForm.invalid ? 'not-allowed' : 'pointer'), 
            'background-color': (passResetForm.invalid ? 'rgba(36, 90, 170, .4)' : '')}"
            [disabled]="passResetForm.invalid">Submit</button>
    </div>
</div>
