<div class="hero-section">
    <div class="hero-container-a">
        <div class="hero-container-a-div">
            <h1 class="hero-container-a-h1">We make it easy to <br>find, recover, & monitor unclaimed money.</h1>
          <h2 class="hero-container-a-h2">More than <span class="hero-container-a-h2 blue">100 million Americans</span> have <span class="hero-container-a-h2 green" >$200 on average</span> sitting with the government. </h2>
        </div>
    </div>
    <div class="hero-container-b">
        <div class="hero-search-wrapper">
            <h2 class="hero-search-textblock">See how much lost money you can find!</h2>
            <cf-property-search class="hero-search-div"></cf-property-search>
        </div>
        <div class="hero-container-b-graphic"></div>
    </div>
</div>
