<!DOCTYPE html>

<div class="sign-in-section">
  <div class="sign-in-container">
    <div class="sign-in-header">
      <h1 class="sign-in---h1">Signed Out</h1>
    </div>
    <div class="sign-in-body">
      <div class="verified-email-textblock">
        You successfully signed out of your account.
      </div>
      <div
        class="verified-email-button"
        id="logged-out-sign-back-in-button"
        routerLink="/login"
      >
        Sign Back In >
      </div>
    </div>
  </div>
</div>
