.select-input-dropdownlist-listitem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  padding: 0px 0px 0px 7.5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(136, 138, 141, 0.5);
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.select-input-dropdownlist-listitem:hover {
  background-color: rgba(36, 90, 170, 0.15);
}
.select-input-dropdownlist-listitem.last {
  border-bottom-style: none;
}
.select-input-dropdownlist-listitem.highlighted {
  background-color: rgba(36, 90, 170, 0.15);
}
