.unclaimed-overview-section {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.unclaimed-overview-header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.unclaimed-overview-header-textblock-h3 {
  margin-bottom: 35px;
  font-family: Graphik, sans-serif;
  color: #242b41;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.unclaimed-overview-header-textblock {
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}
.unclaimed-overview-graphic-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.unclaimed-overview-graphic-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  margin-right: 0;
  padding: 20px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.unclaimed-overview-h3 {
  margin-bottom: 15px;
  font-family: Graphik, sans-serif;
  color: #242b41;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
.unclaimed-overview-textblock {
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.75px;
  font-size: 14px;
  max-width: 100%;
  margin-bottom: 20px;
}

.unclaimed-overview-textlink {
  font-family: Graphik, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #00adee;
  line-height: 22px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  text-align: center;
}

.unclaimed-overview-graphic-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 150px;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.money-back-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
  padding-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.money-back-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 718px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.money-back-h2 {
  margin-bottom: 15px;
  font-family: Graphik, sans-serif;
  color: #242b41;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media (max-width: 1440px) {
  .unclaimed-overview-section {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    margin-bottom: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .unclaimed-overview-header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .unclaimed-overview-header-textblock-h3 {
    margin-bottom: 35px;
    font-family: Graphik, sans-serif;
    color: #242b41;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  .unclaimed-overview-header-textblock {
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .unclaimed-overview-graphic-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .unclaimed-overview-graphic-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32%;
    margin-right: 0;
    padding: 20px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .unclaimed-overview-h3 {
    margin-bottom: 15px;
    font-family: Graphik, sans-serif;
    color: #242b41;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
  }
  .unclaimed-overview-textblock {
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    font-size: 14px;
  }
  .unclaimed-overview-graphic-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 150px;
    margin-bottom: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .money-back-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 825px;
    padding-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .money-back-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .money-back-h2 {
    margin-bottom: 15px;
    font-family: Graphik, sans-serif;
    color: #242b41;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
@media (max-width: 1280px) {
  .unclaimed-overview-section {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    margin-bottom: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .unclaimed-overview-header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .unclaimed-overview-header-textblock-h3 {
    margin-bottom: 35px;
    font-family: Graphik, sans-serif;
    color: #242b41;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  .unclaimed-overview-header-textblock {
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .unclaimed-overview-graphic-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .unclaimed-overview-graphic-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32%;
    margin-right: 0;
    padding: 20px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .unclaimed-overview-h3 {
    margin-bottom: 15px;
    font-family: Graphik, sans-serif;
    color: #242b41;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
  }
  .unclaimed-overview-textblock {
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    font-size: 14px;
  }
  .unclaimed-overview-graphic-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 150px;
    margin-bottom: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .money-back-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 825px;
    padding-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .money-back-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .money-back-h2 {
    margin-bottom: 15px;
    font-family: Graphik, sans-serif;
    color: #242b41;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
@media (max-width: 991px) {
  .unclaimed-overview-section {
    height: auto;
    margin-bottom: 0;
  }
  .unclaimed-overview-header-wrapper {
    margin-bottom: 50px;
  }
  .unclaimed-overview-header-textblock-h3 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1px;
  }
  .unclaimed-overview-header-textblock {
    font-size: 18px;
  }
  .unclaimed-overview-graphic-container {
    padding-right: 0;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .unclaimed-overview-graphic-wrapper {
    width: 350px;
    margin-bottom: 35px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .unclaimed-overview-h3 {
    margin-bottom: 0;
    font-size: 18px;
  }
  .unclaimed-overview-textblock {
    font-size: 14px;
    line-height: 24px;
  }
  .unclaimed-overview-graphic-div {
    margin-bottom: 0;
  }
  .money-back-section {
    height: 680px;
    padding-top: 20px;
  }
  .money-back-wrapper {
    width: 600px;
  }
  .money-back-h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .unclaimed-overview-section {
    height: auto;
    margin-bottom: 0;
    padding-top: 0;
  }
  .unclaimed-overview-header-wrapper {
    margin-bottom: 55px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .unclaimed-overview-header-textblock-h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-align: center;
    width: 405px;
  }
  .unclaimed-overview-header-textblock {
    font-size: 18px;
  }
  .unclaimed-overview-graphic-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .unclaimed-overview-graphic-wrapper {
    margin-bottom: 35px;
  }
  .unclaimed-overview-h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .unclaimed-overview-textblock {
    font-size: 14px;
    line-height: 24px;
  }
  .unclaimed-overview-graphic-div {
    height: 125px;
  }
  .money-back-section {
    height: 500px;
    padding: 35px 50px 0;
  }
  .money-back-wrapper {
    width: auto;
  }
  .money-back-h2 {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .unclaimed-overview-section {
    padding-top: 0;
  }
  .unclaimed-overview-header-wrapper {
    margin-bottom: 55px;
    padding-top: 25px;
    padding: 25px 0 0;
  }
  .unclaimed-overview-header-textblock-h3 {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
  }
  .unclaimed-overview-header-textblock {
    font-size: 16px;
  }
  .unclaimed-overview-graphic-container {
    padding-top: 20px;
  }
  .unclaimed-overview-graphic-wrapper {
    margin-bottom: 75px;
  }
  .unclaimed-overview-h3 {
    margin-bottom: 10px;
  }
  .unclaimed-overview-textblock {
    width: 315px;
    font-size: 13px;
    line-height: 23px;
  }
  .money-back-section {
    height: 450px;
    padding-top: 0;
  }
  .money-back-wrapper {
    padding-top: 20px;
  }
  .money-back-h2 {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 30px;
  }
}
