<div class="unclaimed-overview-section">
    <div class="unclaimed-overview-header-wrapper">
        <h2 class="unclaimed-overview-header-textblock-h3">1 out of 4 Americans have unclaimed property</h2>
        <div class="unclaimed-overview-header-textblock">But what does that mean for you?</div>
    </div>
    <div class="unclaimed-overview-graphic-container">
        <div class="unclaimed-overview-graphic-wrapper">
            <div class="unclaimed-overview-h3">Money Goes Missing</div>
            <div class="unclaimed-overview-graphic-div">
                <img src="/images/gems-joules-graphic-1.svg" width="170" class="gems-money-graphic">
            </div>
            <div class="unclaimed-overview-textblock">Whether it’s forgotten bank accounts, security deposits, or undelivered paychecks, there are more 1000+ different types of unclaimed property owed to more than 100 million Americans.</div>
            <a href="https://claimfound.com/blog/claimfound-blog-posts/understanding-unclaimed-money-what-it-and-how-get-it-back/" target="_blank" class="unclaimed-overview-textlink">Learn More About Unclaimed Money</a>
        </div>
        <div class="unclaimed-overview-graphic-wrapper">
            <div class="unclaimed-overview-h3">It's Handed To Your State</div>
            <div class="unclaimed-overview-graphic-div">
                <img src="/images/office-building-graphic.svg" width="100" class="state-building-graphic">
            </div>
            <div class="unclaimed-overview-textblock">That money may be missing, but it's not lost. Over $60 billion of unclaimed property is currently held by the government for safekeeping. Until you come claim it. That’s where we come in.</div>
             <a href="https://claimfound.com/blog/claimfound-blog-posts/does-government-owe-me-money-how-find-unclaimed-money/" target="_blank" class="unclaimed-overview-textlink">Learn How To Find Unclaimed Money</a>
        </div>
        <div class="unclaimed-overview-graphic-wrapper">
            <div class="unclaimed-overview-h3">We Help You Get It Back</div>
            <div class="unclaimed-overview-graphic-div">
                <img src="/images/arm-money-graphic.svg" width="175" class="money-hand-graphic">
            </div>
            <div class="unclaimed-overview-textblock">Claimfound makes it fast and easy for you to get your money back. By scouring the country for all different types of unclaimed property, we help you not only find it, but claim it.</div>
            <a href="https://claimfound.com/blog/claimfound-blog-posts/how-claim-unclaimed-money-4-steps-get-your-money-back/" target="_blank" class="unclaimed-overview-textlink">Learn How To Claim Unclaimed Money</a>
        </div>
    </div>
</div>
