<!DOCTYPE html>


<div class="sign-in-section">
    <div class="sign-in-container">
      <div class="sign-in-content-wrapper">
          <div class="sign-in-content-textHeader">Please Verify Your Email Address:</div>
          <div class="verify-email-link">{{email}}</div>
          <div class="sign-in-content-textBlock1">You're one step closer to money in your pocket!</div>
          <div class="sign-in-content-textBlock2">Once you verify your email address, you can find, retrieve, and monitor your unclaimed money. </div>
      </div>
      <div class="sign-in-graphic"></div>
    </div>
 </div>
