<div class="selectclaimscontainer">
  <div class="selectclaims-headerdiv">
    <div class="selectclaims-header-textblock">Select Claims Instructions</div>
  </div>
    <div class="selectclaims-instructionscontainer">
      <div class="selectclaims-instructions-contentwrapper">
        <div class="selectclaims-instructions-contentdiv">
          <div class="selectclaims-instructions-content-textheader"><span style="font-size: 20px; margin-right: 5px;">☝️📋</span>Please Read Instructions Carefully!</div>
          <ul class="selectclaims-instructions-content-listdiv">
            <li class="selectclaims-instructions-content-list-textblock">Determine if a claim is yours by verifying that you are associated with the <span class="selectclaims-instructions-content-list-textblock-span">reporting company</span> and <span class="selectclaims-instructions-content-list-textblock-span">address</span> listed on the claim.</li>
            <li class="selectclaims-instructions-content-list-textblock">Only select claims that belong to you because you will need to provide <span class="selectclaims-instructions-content-list-textblock-span">proof of ownership</span>, including an ID and other supporting documents, to receive your money from the unclaimed property division. </li>
          </ul>
        </div>
      </div>
      <div class="selectclaims-instructions-viewdiv" (click)="onViewClaimsClick()">
        <div class="selectclaims-instructions-view-textblock">View Claims</div>
      </div>
    </div>
</div>
