.modal-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* Following are necessary to make it look like modal */
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  overflow: auto;
}

.messagemodal-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-right: 20px;
}

.messagemodalcontainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 415px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(136, 138, 141, 0.5);
  border-radius: 5px;
  background-color: #fff;
}

.messagemodal-contentwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.messagemodal-graphicwrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.messagemodal-content-textheader {
  display: none;
  margin-bottom: 25px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: -15px;
}

.messagemodal-content-textheader.sub {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
}

.messagemodal-content-textblock1 {
  margin-bottom: 10px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.messagemodal-content-textblock2 {
  margin-bottom: 20px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.messagemodal-content-button {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: rgba(36, 90, 170, 0.8);
  font-family: Graphik, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

.messagemodal-content-button:hover {
  background-color: rgba(36, 90, 170, 0.5);
}

.messagemodal-graphic {
  width: 260px;
  height: 172px;
  background-image: url("/images/messageModal-content-graphic.svg");
  background-position: 0px 0px;
  background-size: cover;
  margin-top: -15px;
}

@media (max-width: 767px) {
  .messagemodalcontainer {
  }
  .messagemodal-contentwrapper {
  }
  .messagemodal-graphicwrapper {
  }
  .messagemodal-content-textheader {
  }
  .messagemodal-content-textblock1 {
  }
  .messagemodal-content-button {
  }
  .messagemodal-graphic {
  }
}

@media (max-width: 479px) {
  .messagemodal-header {
  }

  .messagemodalcontainer {
    width: 350px;
  }

  .messagemodal-contentwrapper {
    padding: 25px;
  }

  .messagemodal-graphicwrapper {
  }

  .messagemodal-content-textheader {
    display: none;
  }

  .messagemodal-content-textheader.sub {
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .messagemodal-content-textblock1 {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: center;
  }

  .messagemodal-content-textblock2 {
    font-size: 11px;
    line-height: 20px;
    text-align: center;
  }

  .messagemodal-content-button {
  }

  .messagemodal-content-button:hover {
  }

  .messagemodal-graphic {
    width: 210px;
    height: 138px;
    margin-top: -20px;
  }
}
