<div class="works-section">
    <div class="lady-money-container">
        <div class="lady-money-graphic"></div>
    </div>
    <div class="works-container">
        <div class="works-header-wrapper">
            <div class="works-header-h2">How ClaimFound Works</div>
        </div>
        <div class="works-step-container">
            <div class="works-step-content-wrapper step-one">
                <div class="works-step-number-div">
                    <div class="works-step-number-textblock">1</div>
                </div>
                <div class="works-step-h3">Search Your Name</div>
                <div class="works-step-para">We search the country to find money you or your family are owed. From checks to tax returns to security deposits and much more, we leave no stone unturned.</div>
            </div>
            <div class="works-step-graphic-wrapper">
                <div class="step-one-graphic"></div>
                <div class="step-one-graphic-mobile"></div>
            </div>
        </div>
        <div class="works-step-container alt">
            <div class="works-step-content-wrapper">
                <div class="works-step-number-div">
                    <div class="works-step-number-textblock">2</div>
                </div>
                <div class="works-step-h3">We help you file</div>
                <div class="works-step-para">ClaimFound tells you exactly what you need in order to claim your money. Add in just the right information, and we pass that directly along to the state holding onto your property--instantly.</div>
            </div>
            <div class="works-step-graphic-wrapper alt">
                <div class="step-two-graphic"></div>
                <div class="step-two-graphic-mobile"></div>
            </div>
        </div>
        <div class="works-step-container">
            <div class="works-step-content-wrapper">
                <div class="works-step-number-div">
                    <div class="works-step-number-textblock">3</div>
                </div>
                <div class="works-step-h3">Get Paid</div>
                <div class="works-step-para">That’s it! Your money gets sent to you directly by your state. ClaimFound never takes a cut, all you have to do is check the mail.</div>
            </div>
            <div class="works-step-graphic-wrapper three">
                <div class="step-three-graphic three"></div>
                <div class="step-three-graphic-mobile"></div>
            </div>
        </div>
        <div class="works-step-container alt">
            <div class="works-step-content-wrapper">
                <div class="works-step-number-div">
                    <div class="works-step-number-textblock">4</div>
                </div>
                <div class="works-step-h3">Wait For More</div>
                <div class="works-step-para">More than $7,000,000,000 of missing money gets reported every year (yes, billion). ClaimFound keeps an eye out for you and automatically processes it if any new money is yours.</div>
            </div>
            <div class="works-step-graphic-wrapper alt four">
                <div class="step-four-graphic"></div>
                <div class="step-four-graphic-mobile"></div>
            </div>
        </div>
    </div>
</div>