<div class="testimonial-section">
    <div class="testimonial-container">
        <div class="testimonial-h1">ClaimFound Success Stories</div>
        <a class="testimonial-link-div" routerLink="{{ links.global.userStories.url }}">
            <div class="testimonials-link-div-textblock">Read about real people who got their money back using ClaimFound</div>
            <img src="/images/link-arrow.svg" width="20" class="testimonial-link-div-icon">
        </a>
        <div class="testimonial-wrapper">
            <div class="testimonial-customer-wrapper">
                <div class="testimonial-div">
                    <div class="testimonial-div-textblock-1">RECOVERED</div>
                    <div class="testimonial-div-textblock-2">$220</div>
                    <div class="testimonial-div-para">I definitely didn't think I had any money out there. It turns out I had a bank account that was closed out over 20 years ago.</div>
                    <div class="testimonial-customer-div"><img src="/images/bill_m_thumbnail.png" width="60" height="60" class="testimonial-customer-graphic">
                        <div class="testimonial-customer-textblock-1">Bill M.</div>
                        <div class="testimonial-customer-divider"></div>
                        <div class="testimonial-customer-textblock-2">Auctioneer</div>
                    </div>
                    <a class="testimonial-customer-link-div" routerLink="{{ links.global.userStories.url }}">
                        <img src="/images/link-arrow.svg" width="15">
                        <div class="testimonial-customer-link-div-textblock">Read Bill's Story</div>
                    </a>
                </div>
                <div class="testimonial-div middle">
                    <div class="testimonial-div-textblock-1">RECOVERED</div>
                    <div class="testimonial-div-textblock-2">$1,130</div>
                    <div class="testimonial-div-para">I always wondered what happened to my final paycheck at an old job. Turns out the state had it and thanks to ClaimFound I was able to pay off my credit card.</div>
                    <div class="testimonial-customer-div"><img src="/images/mike_A_thumbnail.png" width="60" height="60" class="testimonial-customer-graphic">
                        <div class="testimonial-customer-textblock-1">Mike A.</div>
                        <div class="testimonial-customer-divider"></div>
                        <div class="testimonial-customer-textblock-2">Software Sales</div>
                    </div>
                    <a class="testimonial-customer-link-div"routerLink="{{ links.global.userStories.url }}">
                        <img src="/images/link-arrow.svg" width="15">
                        <div class="testimonial-customer-link-div-textblock">Read Mike's Story</div>
                    </a>
                </div>
                <div class="testimonial-div">
                    <div class="testimonial-div-textblock-1">RECOVERED</div>
                    <div class="testimonial-div-textblock-2">$30</div>
                    <div class="testimonial-div-para">It took me literally 15 minutes to file my claim and now I have an extra $30 for sushi this week.</div>
                    <div class="testimonial-customer-div"><img src="/images/izzy_t_thumbnail.png" width="60" height="60" class="testimonial-customer-graphic">
                        <div class="testimonial-customer-textblock-1">Izzy T.</div>
                        <div class="testimonial-customer-divider"></div>
                        <div class="testimonial-customer-textblock-2">Firefighter</div>
                    </div>
                    <a class="testimonial-customer-link-div" routerLink="{{ links.global.userStories.url }}">
                        <img src="/images/link-arrow.svg" width="15">
                        <div class="testimonial-customer-link-div-textblock">Read Izzy's Story</div>
                    </a>
                </div>
            </div>
            <div class="testimonial-select-div">
                <div class="testimonial-select-div-block"></div>
                <div class="testimonial-select-div-block select"></div>
                <div class="testimonial-select-div-block"></div>
            </div>
        </div>
    </div>
</div>