<!--<div class="submittedclaimsstatusbarcomponent">
<div class="statuscontainer-bar-graphic"></div>
</div>
<div class="submittedclaimsstatusbarcomponent">
<div class="statuscontainer-bar-graphic two"></div>
</div>-->

<svg width="100%" height="8px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Status Bar Component</title>
    <desc>Component SVG for displaying percentage progress</desc>
    <defs></defs>
    <g id="---▶︎--Completed-Claims" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Dashboard-New---Standard---state-1" transform="translate(-202.000000, -669.000000)">
            <g id="Completed-Claims-Option-#1" transform="translate(176.000000, 318.000000)">
                <g id="Overview" transform="translate(0.000000, 240.000000)">
                    <g id="claims-status-bar" transform="translate(26.000000, 91.000000)">
                        <g id="Group-4" transform="translate(0.000000, 20.000000)">
                            <rect id="Rectangle"
                                  stroke-opacity="0.5"
                                  stroke="#888A8D"
                                  stroke-width="0.5"
                                  fill="#F5F7FA"
                                  x="0.25"
                                  y="0.25"
                                  width="100%"
                                  height="7.5"
                                  rx="2"
                            ></rect>
                            <rect id="Rectangle"
                                  fill-opacity="0.8"
                                  attr.fill="{{colorArg}}"
                                  x="1"
                                  y="1.63596491"
                                  attr.width="{{widthArg}}"
                                  height="5"
                                  rx="2"
                            ></rect>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
