<div  class="dashboardPageContainer">
  <div class="dashboardPageWrapper">
    <div class="accountContainer">
        <div class="account-headerDiv">
            <p class="account-header-textBlock">Account Information</p>
        </div>
        <div class="account-bodyWrapper">
            <cf-account-update></cf-account-update>
            <div class="account-body-socialWrapper">
                <p class="account-body-social-textHeader">Social Accounts</p>
                <cf-external-login-row></cf-external-login-row>
            </div>
        </div>
    </div>
  </div>
</div>