<div class="signupmodalchoosercomponent">
  <cf-error-bar id="signUpChooserErrorBar"></cf-error-bar>

  <div class="buttondiv-textblock" cfExternalLogin [operation]="'signIn'" [provider]="'Facebook'" (errorMessageEvent)="receiveError($event)">
    <a href="#" class="signupmodal-chooserwrapper-buttondiv facebook w-inline-block">
      <img src="images/facebook-icon.png" width="18" height="30" alt="" class="facebook-icon"/>Continue With Facebook
    </a>
  </div>

  <div class="buttondiv-textblock google" cfExternalLogin [operation]="'signIn'" [provider]="'Google'" (errorMessageEvent)="receiveError($event)">
    <a href="#" class="signupmodal-chooserwrapper-buttondiv google w-inline-block">
      <img src="images/google-icon.png" width="30" height="30" alt="" class="google-icon"/> Continue With Google
    </a>
  </div>

  <a href="#" class="signupmodal-chooserwrapper-buttondiv email w-inline-block" (click)="openEmailSignUp($event)">
    <img src="images/email-icon.png" width="32" height="24" alt="" class="email-icon"/>
    <div id="continue-with-email" class="buttondiv-textblock">Continue With Email</div>
  </a>

</div>
