/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2017, 12:59:00 PM
    Author     : christofferprompovitch
*/

.document-prompt-body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  padding: 25px 20px;
  border-right: 1px solid hsla(216, 2%, 54%, 0.5);
  border-bottom: 1px solid hsla(216, 2%, 54%, 0.5);
  border-left: 1px solid hsla(216, 2%, 54%, 0.5);
  background-color: #fff;
}

.document-prompt-bodyDiv {
  display: block;
  width: 75%;
}

.document-prompt-tooltip-holder {
  font-family: Graphik, sans-serif;
  align-self: flex-end;
  font-size: 8px;
}

.document-prompt-body-textblock {
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.75px;
  line-height: 20px;
  margin-bottom: 5px;
}

.document-prompt-body-button {
  width: 125px;
  height: 45px;
  padding: 0px;
  line-height: 45px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 5px;
  background-color: rgba(36, 90, 170, 0.8);
  font-family: Graphik, sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0px;
}

.document-prompt-body-button:hover {
  background-color: rgba(36, 90, 170, 0.5);
}

.document-prompt-body-button.inactive {
  color: #888a8d;
  background-color: hsla(216, 2%, 54%, 0.25);
  cursor: auto;
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .document-prompt-body {
    width: 450px;
  }

  .document-prompt-body-textblock {
  }

  .document-prompt-body-button {
    width: 100px;
  }

  .document-prompt-bodyDiv {
    width: 65%;
  }
}

@media (max-width: 479px) {
  .document-prompt-body {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
  }

  .document-prompt-body-textblock {
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  .document-prompt-bodyDiv {
    width: 100%;
    margin-bottom: 20px;
  }

  .document-prompt-body-button {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 12px;
  }
}
