/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 25, 2016, 4:47:38 PM
    Author     : christofferprompovitch
*/
@import "src/variables";
.completed-documents-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 730px;
  margin-bottom: 30px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.completed-documents-header {
  width: 730px;
  height: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(216, 2%, 54%, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $dashboard-module-header-color;
  font-family: Graphik, sans-serif;
}

.header-h1 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 50px;
}

@media (max-width: 991px) {
  .completed-documents-wrapper {
  }

  .completed-documents-header {
  }

  .header-h1 {
  }
}

@media (max-width: 767px) {
  .completed-documents-wrapper {
    width: 450px;
  }

  .completed-documents-header {
    width: 450px;
  }

  .header-h1 {
  }
}

@media (max-width: 479px) {
  .completed-documents-wrapper {
    width: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .completed-documents-header {
    width: auto;
  }

  .header-h1 {
  }
}
