<!DOCTYPE html>

<div class="document-upload-container">
  <div class="welcome-container">
    <div class="welcome-wrapper">
      <div class="welcome-div">
        <div class="welcome-message-wrapper">
          <div class="welcome-message-textblock-1">
            Please upload documentation for your claims.
          </div>
          <div class="welcome-message-textblock-2">
            Each claim requires that you provide an ID and supplemental
            documentation to prove your unclaimed money belongs to you.
          </div>
          <a
            href="https://help.claimfound.com/en/articles/4128954-document-upload-page"
            target="_blank"
            class="welcome-message-textlink"
            ><span style="text-decoration: underline;"
              >Need help with this step, read our instructions guide!</span
            ></a
          >
        </div>
        <img
          src="/images/Upload-documents-graphic-new.svg"
          class="upload-documents-graphic"
        />
      </div>
    </div>
  </div>
  <cf-error-bar id="uploadDocsErrorBar"></cf-error-bar>
  <cf-prompt-section
    [model]="requiredDocs"
    [docsBeingUploaded]="docsBeingUploaded"
    (uploadEvent)="onUpload($event)"
    (updateEvent)="onUpdate()"
    *ngIf="dispRequired"
  ></cf-prompt-section>
  <cf-required-section [rowModels]="rowModels"></cf-required-section>
  <cf-upload-section
    [model]="uploadedDocs"
    (deleteEvent)="deleteUploadedDoc($event)"
    *ngIf="dispUploaded"
  ></cf-upload-section>
</div>
<cf-profile-completion-modal></cf-profile-completion-modal>
<cf-dashboard-step [currentPage]="pageName"></cf-dashboard-step>
