.items-li-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding-top: 7.5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  cursor: pointer;
}

.items-li-input {
  margin-top: -8px;
}

.items-li-label {
  display: inline-block;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.75px;
  width: 100%;
}

.items-li-wrapper.highlighted {
  background-color: rgba(36, 90, 170, 0.15);
}
