<!DOCTYPE html>

<div class="canvas-body-wrapper tos">
    <div class="canvas-content-container">
        <div class="canvas-content-wrapper">
            <div class="tos-header">
                <h1 class="tos-header-h1">Privacy &amp; Security</h1>
            </div>
            <div class="pp-body">
                <div class="pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Privacy &amp; Security Policy</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">We respect your privacy and safeguard your information with industry-leading technology. Our core values include trust and transparency, and this Privacy Policy describes how we live up to those values for you.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">Welcome to ClaimFound. We believe that you deserve the utmost respect when it comes to the privacy of your personal information. As you use our services, we want you to be clear how we are using information and the ways in which you can protect your privacy. The terms “we,” “us,” and “ClaimFound” refer to ClaimFound, a Limited Liability Company, its subsidiaries, and affiliates.
                            <br>
                            <br>This Privacy Policy discloses which financial and personal information we collect, how we use it,&nbsp;and the choices you can make regarding the collection and use of this information. We also explain how any personally identifiable information that we may request will be used. Finally, we include our security policy, which describes how your personally identifiable information is protected both electronically and physically.</p>
                    </div>
                </div>
                <div class="alt pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Information We Collect</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">Information we collect while you use our site helps us improve our services. During the claims process we also request and collect personal from you, such as your name and address.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">We may collect information from you when you use the ClaimFound site. We also collect personal information from you during the claims process, specifically when you fill out our user profile. Additional information may be gathered during your future use of the site. Information that we collect may include personally identifying information, such as your name, address, email address, telephone number, or social security number.&nbsp;
                            <br>
                            <br>We and/or our service providers may also collect information that is about you. We and/or our service providers may use this aggregated information in the administration of our Site to improve its usability, evaluate the success of particular marketing/advertising campaigns, and help optimize our Site based on your needs. This may include your internet protocol (IP) address, geographical location, browser type, referral source, length of visit, number of page views, or cookies and anonymous identifiers.</p>
                    </div>
                </div>
                <div class="pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">How We Use The Information We Collect</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">We use this information to help us verify your identity, communicate with you during and after the claims process. We also use some of this information to improve our website and technology platform, our site and advertisements, and to let you know when we have new services available. You can update the personal information you give us any time by emailing us at support@ClaimFound.com. We may also use this information to ensure that any content we display are relevant based on &nbsp;information you included in your profile and your use of the ClaimFound site.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">ClaimFound may also use your personal information to facilitate activities and transactions that need to occur during the claims process, such as:</p>
                        <ul class="pp-ul-div">
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To establish that you are over the age of 18;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To verify your identity and guard against potential fraud;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To contact you if there is a problem completing a transaction you requested or to discuss a problem with your account;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To implement collection activities as needed; and/or</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To maintain regular communication with you concerning transactions you initiate, including but not limited to requesting information or assistance, submitting a claim request, and making payments</div>
                            </li>
                        </ul>
                        <p class="pp-para-right">More generally, we may use information that we collect from you or that you provide to us:</p>
                        <ul class="pp-ul-div">
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To provide, maintain, protect and improve our services, to develop new ones, and to protect ClaimFound and our users;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To notify you about changes to the ClaimFound site or any products or services we offer or provide through it;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">to keep a record of your communications to help solve any issues you might be facing;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To offer you tailored content giving you more relevant search results and ads;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To enforce or apply our Terms of Use, Claims Agreement, and any other agreement between you and ClaimFound, including billing and collection;</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To fulfill any other purpose for which you provide it or otherwise give your consent; and/or</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To comply with any court order, law, or legal process, including retaining personal data or responding to any government or regulatory request.</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="alt pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Information You Share</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">Your information is available to be reviewed and updated on your account profile page at any time. You can also send a request to support@ClaimFound.com. Some information regarding your claim
                            <br>application cannot be changed due to laws or legal requirements, and in those cases we may not be able to accommodate your request.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">You can review and change your personal information by logging into the ClaimFound site and visiting your account profile page. You may also email us at&nbsp;support@claimfound.com&nbsp;to request access to, correct, or delete any personal information that you have provided to us. We may not accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect.</p>
                    </div>
                </div>
                <div class="pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Information We Share</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">Advertisers may use cookies on our site to collect information similar to the information we collect, and target ads to you based on information you included in your profile. We may also use remarketing to advertise to visitors who haven’t completed a task, such as completing their loan application.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <h4 class="pp-body-section-heading-h4">Advertisers</h4>
                        <p class="pp-para-right">ClaimFound may allow third-party advertisers to use cookies on the ClaimFound site to collect the same type of information for the same purposes as ClaimFound does for itself. They may be able to associate the information they collect with other information they have about you from other sources. We do not necessarily have access to or control over the cookies they use, but you may be able to opt out of some of their practices by visiting the following organizations:&nbsp;Network Advertising Initiative,&nbsp;Omniture,&nbsp;Aperture,&nbsp;Digital Advertising Alliance, andPrivacyChoice. Opting out does not prevent the display of advertisements to you.
                            <br>
                            <br>ClaimFound may also use certain remarketing services to advertise on third-party websites to previous visitors to our site. This means that we may advertise to previous visitors who haven’t completed a task on our site. This could be in the form of an advertisement on a search results page, or a site in the network of our remarketing partners.</p>
                        <h4 class="pp-body-section-heading-h4">Partners &amp; Service Providers</h4>
                        <p class="pp-para-right">Some of the services that are offered through the ClaimFound site may be provided by third-party partners, like LexisNexus. We may also outsource some of ClaimFound’s functions to third-party providers, such as data storage providers, platform administrators, payment processing functions, and/or other services. We may share information from or about you with these third-party providers so &nbsp;that they can perform the requested services or complete your requests. ClaimFound may also use certain remarketing services to advertise on third-party websites to previous visitors to our site. This means that we may advertise to previous visitors who haven’t completed a task on our site. This could be in the form of an advertisement on a search results page, or a site in the network of our remarketing partners.</p>
                        <h4 class="pp-body-section-heading-h4">Aggregated Information</h4>
                        <p class="pp-para-right">We may share aggregated, non-identifiable user information with third parties, such as advertisers and content distributors. For example, we may disclose the number of users that have been exposed to or clicked on advertisements.</p>
                        <h4 class="pp-body-section-heading-h4">Business Transfers</h4>
                        <p class="pp-para-right">We may share information from or about you with subsidiaries, joint ventures, or other companies under common control, in which case we will require them to honor this Privacy Policy. If ClaimFound is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.</p>
                        <h4 class="pp-body-section-heading-h4">Links</h4>
                        <p class="pp-para-right">The ClaimFound site may contain links to unaffiliated third-party websites. Except as described in this policy, we do not share your personal information with them, and are not responsible for their privacy practices. We suggest you read the privacy policies on all such third-party websites.</p>
                        <h4 class="pp-body-section-heading-h4">Law Enforment</h4>
                        <p class="pp-para-right">We may disclose information from or about you if we have a good faith belief that such investigation or disclosure is (a) reasonably necessary to comply with legal process and law enforcement instructions and orders, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process served on us; (b) helpful to prevent, investigate, or identify possible wrongdoing in connection with the Site; or (c) protect our rights, reputation, property, or that of our users, affiliates, or the public.</p>
                    </div>
                </div>
                <div class="alt pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Cookies</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">Cookies help us protect your account's security, and allow us to personalize your ClaimFound experience.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">We, and third parties with whom we partner, may use cookies, web beacons, local shared objects, and similar technology (“Cookies”) to improve your user experience and the overall quality of our service. Cookies are small data files that may have unique identifiers, and reside, among other places, on your computer or mobile device, in emails we send to you, and on our web pages. Cookies may transmit information about you and your use of the ClaimFound site, such as your browser type, preferences, data relating to advertisements that have been displayed to&nbsp;you or that you have clicked on, and the date and time of your use.
                            <br>
                            <br>Most importantly, cookies help us protect youraccount’s security. Cookies may be stored only during an individual session (“Session ID cookies”) or have long-term expiration dates (“persistent cookies”). Session ID cookies follow your activities on our site so that we can
                            <br>ensure that no one is making changes to your profile or applying for loans, and expire when you close your browser. Persistent cookies that remain on your hard drive for an extended period of time so that we can recognize you when you return to our Site.
                            <br>
                            <br>The following is a list of the types of cookies that ClaimFound and its third-party partners use:</p>
                        <h4 class="pp-body-section-heading-h4">Processes</h4>
                        <p class="pp-para-right">These Cookies make the Claimfound site work in the way you expect it to.</p>
                        <h4 class="pp-body-section-heading-h4">Authentication, Security, and Compliance</h4>
                        <p class="pp-para-right">We use these to prevent fraud, protect your data from unauthorized parties, and comply with legal requirements.</p>
                        <h4 class="pp-body-section-heading-h4">Preferences</h4>
                        <p class="pp-para-right">We use these to prevent fraud, protect your data from unauthorized parties, and comply with legal requirements.</p>
                        <h4 class="pp-body-section-heading-h4">Notifications</h4>
                        <p class="pp-para-right">We use these Cookies to give us notice of information or options that we think could improve your use of the Claimfound website.</p>
                        <h4 class="pp-body-section-heading-h4">Advertising</h4>
                        <p class="pp-para-right">These Cookies make advertising more relevant to you and more valuable to advertisers.</p>
                        <h4 class="pp-body-section-heading-h4">Analytics</h4>
                        <p class="pp-para-right">These Cookies help us understand how visitors use the Claimfound website.</p>
                    </div>
                </div>
                <div class="pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Cookie Management</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">Cookies help us protect your account's security, and allow us to personalize your ClaimFound experience.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">It may be possible to disable some Cookies through your device or browser settings, but doing so may affect your ability to use the Site. The method for disabling cookies may vary by device and&nbsp;browser, but can usually be found in preferences or security settings.</p>
                    </div>
                </div>
                <div class="alt pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Protecting Your Information</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">ClaimFound takes your privacy and security seriously. We have enabled HTTPS access to our site, in addition to SSL technology, and your login information of your financial accounts is not accessible to anyone at ClaimFound. This data is stored offsite. Additionally, there are a number of precautions you can take to rotect the security of your computer, including selecting a strong ClaimFound password and not sharing it with anyone.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">ClaimFound takes steps to safeguard your personal information through vigorous physical, electronic, and operational policies and practices:</p>
                        <ul class="pp-ul-div">
                            <li class="pp-ul-div-li">
                                <div class="head pp-ul-div-li-textblock">Session Time-Outs:</div>
                                <div class="pp-ul-div-li-textblock">We employ session time-outs to protect your account. You will be logged out of the site after thirty minutes. This reduces the risk of others being able to access your account if you leave your computer unattended.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="head pp-ul-div-li-textblock">Passwords:</div>
                                <div class="pp-ul-div-li-textblock">At a minimum, we require the use of both numbers and letters in your password. We have also instituted secure steps by which you can regain access to your account should you forget your password, including email reset. Your password is not known to any employee or third party with whom we may partner, and we will never ask you for your passwords as a means of identifying
                                    <br>yourself. If you ever receive an email purporting to come from ClaimFound that asks for your password, you should immediately report this to&nbsp;support@claimfound.com</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="head pp-ul-div-li-textblock">Secure, Off-site Hosting:</div>
                                <div class="pp-ul-div-li-textblock">We store your personal and sensitive financial data such as Social Security numbers and bank accounts in a virtual private cloud hosted by Amazon Web Services.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="head pp-ul-div-li-textblock">Defined Service Access Points:</div>
                                <div class="pp-ul-div-li-textblock">Data can only be read or written through defined service access points, the use of which is password-protected and limited to only those employees or third parties who have a need to know.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="head pp-ul-div-li-textblock">Secure Socket Layer (SSL) Certificate Technology:&nbsp;</div>
                                <div class="pp-ul-div-li-textblock">We equip our servers with SSL certificate technology to provide a safe and secure channel to visit the ClaimFound site.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="head pp-ul-div-li-textblock">Data encryption:</div>
                                <div class="pp-ul-div-li-textblock">SSL also ensures that all data entered into the ClaimFound site is encrypted. For further encryption protection, we require a 128-bit secure browser for logins and transactions.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="head pp-ul-div-li-textblock">Network Firewalls:</div>
                                <div class="pp-ul-div-li-textblock">There is no inbound communication allowed between data and application servers and the Internet.</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Communication From Claimfound</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">ClaimFound may send you notifications regarding your account. You cannot opt out of these notifications as they are in place to help protect your privacy and security, but you can opt out of any additional marketing communications. You can do this by clicking the unsubscribe link at the bottom of any marketing communications you receive.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">To protect your account, ClaimFound may send you notifications that confirm actions taken on your account. These notifications are typically sent to notify you of a change in status, or for legal or security purposes. For example, you may receive notifications confirming your registration and the successful submission of a claim form.
                            <br>
                            <br>You cannot opt out of these notifications as they are in place to protect the security of your account and personal information. We do this for your own protection so that you can be sure no one else is making changes to your account without your knowledge. However, the security offered by these notifications can be undermined if other people have access to your email account.
                            <br>
                            <br>Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Site. Even under the best of circumstances,
                            <br>the transmission of information via the internet is not completely secure. Any transmission of personal information is done at your own risk. In the event of a data breach, we will comply with the notification guidelines required by federal law as well as the laws of each state in which we do business.</p>
                    </div>
                </div>
                <div class="alt pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">What Can I Do To Protect My Security</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">Use a strong password, do not share it, and only log onto your ClaimFound account from a secured computer with virus protection.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">You can take several precautions to protect the security of your computer and your personal information:</p>
                        <ul class="pp-ul-div">
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">Use a unique password that you do not use for any other service.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">To choose a strong password, avoid using any information that others can easily learn about you, such as a family member’s name or birthday, and use special characters in place of letters.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">Change your Claimfound password frequently.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">Install and regularly update antivirus and firewall software to protect your computer from external attacks by malicious users.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">Do not log onto your ClaimFound account in public areas where the
                                    <br>internet is unsecured.</div>
                            </li>
                            <li class="pp-ul-div-li">
                                <div class="pp-ul-div-li-textblock">Logout and close the browser window when you are finished with a session on the Claimfound site.</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">Compliance With State &amp; Federal Laws</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">For more information regarding your personal privacy rights and how they may differ in certain states, send an email to&nbsp;legal@ClaimFound.com.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">This Privacy Policy may not constitute your entire set of privacy rights, as these may vary from state to state. To be certain of your privacy rights, you may wish to contact the agency in your state that is charged with overseeing consumer privacy rights.</p>
                    </div>
                </div>
                <div class="alt pp-body-section w-clearfix">
                    <h3 class="pp-body-section-heading-h3">When This Privacy Policy Applies</h3>
                    <div class="pp-body-section-wrapper-left w-clearfix">
                        <p class="pp-para-left">We will post any changes to the Privacy Policy on this page and, if the changes are significant, we will provide a more prominent notice (including, for example, email notification). Your use of the ClaimFound site following any update to the Privacy Policy means that you accept the updated policy.</p>
                    </div>
                    <div class="pp-body-section-wrapper-right">
                        <p class="pp-para-right">This Privacy Policy may change from time to time. We will post any changes to the Privacy Policy on this page and, if the changes are significant, we will provide a more prominent notice (including, for example, email notification). Any updates to this policy become effective when we post the updates on the Site. We will also keep prior versions of this Privacy Policy in an archive for your review. Your use of the ClaimFound site following the update to the Privacy Policy means that you accept the updated policy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
