<div class="anyone-section">
    <div class="anyone-container">
        <div class="anyone-content-h2">Anyone in the U.S Could Have Unclaimed Property</div>
        <div class="anyone-content-stats-wrapper">
            <div class="anyone-content-stats-div">
                <div class="anyone-content-stats-div-textblock-1">$200</div>
                <div class="anyone-content-stats-div-textblock-2">Average Claim </div>
            </div>
            <div class="anyone-content-stats-div">
                <div class="anyone-content-stats-div-textblock-1">100M+</div>
                <div class="anyone-content-stats-div-textblock-2">Americans With Claims</div>
            </div>
            <div class="anyone-content-stats-div">
                <div class="anyone-content-stats-div-textblock-1">$60B+</div>
                <div class="anyone-content-stats-div-textblock-2">Total Claims in U.S.</div>
            </div>
            <div class="anyone-content-stats-div">
                <div class="anyone-content-stats-div-textblock-1">$7B+</div>
                <div class="anyone-content-stats-div-textblock-2">New Claims Every Year</div>
            </div>
        </div>
        <div class="anyone-content-cta-wrapper">
            <div class="anyone-content-cta-textblock">ClaimFound is always free. <br>Don't you owe it to yourself to check?</div>
            <div class="anyone-content-cta-button">
                <div class="anyone-content-cta-button-textblock" (click)="showSignUpModal($event)">
                        {{ links.cfBody.signup.text }}
                </div>
            </div>
        </div>
    </div>
</div>