.anyone-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 875px;
  margin-bottom: 0;
  padding-right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-image: url(/images/anyone-background-graphic.svg),
    url(/images/anyone-background.svg);
  background-position: 94% 38%, 100% 50%;
  background-size: 717px, contain;
  background-repeat: no-repeat, no-repeat;
}
.anyone-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-top: 100px;
  padding-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.anyone-content-h2 {
  width: 405px;
  margin-bottom: 65px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 38px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.anyone-content-stats-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-bottom: 15px;
  padding-left: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.anyone-content-stats-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 228px;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.anyone-content-stats-div-textblock-1 {
  font-family: Graphik, sans-serif;
  color: #5193df;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.anyone-content-stats-div-textblock-2 {
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.anyone-content-cta-textblock {
  display: inline-block;
  width: auto;
  margin-bottom: 25px;
  font-family: Graphik, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.anyone-content-cta-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 225px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #55a9cf;
  line-height: 26px;
  letter-spacing: 1px;
  cursor: pointer;
}
.anyone-content-cta-button:hover {
  background-color: rgba(85, 169, 207, 0.5);
}
.anyone-content-cta-button-textblock {
  font-family: Graphik, sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}
@media (max-width: 1440px) {
  .anyone-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 875px;
    margin-bottom: 0;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-image: url(/images/anyone-background-graphic.svg),
      url(/images/anyone-background.svg);
    background-position: 94% 38%, 100% 50%;
    background-size: 625px, contain;
    background-repeat: no-repeat, no-repeat;
  }
  .anyone-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    padding-top: 100px;
    padding-left: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .anyone-content-h2 {
    width: 405px;
    margin-bottom: 65px;
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 38px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  .anyone-content-stats-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    margin-bottom: 15px;
    padding-left: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .anyone-content-stats-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 228px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .anyone-content-stats-div-textblock-1 {
    font-family: Graphik, sans-serif;
    color: #5193df;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  .anyone-content-stats-div-textblock-2 {
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .anyone-content-cta-textblock {
    display: inline-block;
    width: auto;
    margin-bottom: 25px;
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .anyone-content-cta-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 225px;
    height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #55a9cf;
    line-height: 26px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .anyone-content-cta-button:hover {
    background-color: rgba(85, 169, 207, 0.5);
  }
  .anyone-content-cta-button-textblock {
    font-family: Graphik, sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 1280px) {
  .anyone-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 875px;
    margin-bottom: 0;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-image: url(/images/anyone-background-graphic.svg),
      url(/images/anyone-background.svg);
    background-position: 94% 38%, 100% 50%;
    background-size: 550px, contain;
    background-repeat: no-repeat, no-repeat;
  }
  .anyone-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    padding-top: 100px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .anyone-content-h2 {
    width: 405px;
    margin-bottom: 65px;
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 38px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  .anyone-content-stats-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    margin-bottom: 15px;
    padding-left: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .anyone-content-stats-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .anyone-content-stats-div-textblock-1 {
    font-family: Graphik, sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  .anyone-content-stats-div-textblock-2 {
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .anyone-content-cta-textblock {
    display: inline-block;
    width: auto;
    margin-bottom: 25px;
    font-family: Graphik, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .anyone-content-cta-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 225px;
    height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #55a9cf;
    line-height: 26px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .anyone-content-cta-button:hover {
    background-color: rgba(85, 169, 207, 0.5);
  }
  .anyone-content-cta-button-textblock {
    font-family: Graphik, sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 991px) {
  .anyone-section {
    height: 650px;
    background-position: 93% 45%, 100% 50%;
    background-size: 450px, contain;
  }
  .anyone-container {
    padding-top: 50px;
    padding-left: 50px;
  }
  .anyone-content-h2 {
    width: 400px;
    margin-bottom: 35px;
    padding-right: 0;
    font-size: 24px;
    line-height: 34px;
  }
  .anyone-content-stats-wrapper {
    width: 243px;
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .anyone-content-stats-div {
    width: auto;
    margin-right: 20px;
    margin-bottom: 35px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .anyone-content-stats-div-textblock-1 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .anyone-content-stats-div-textblock-2 {
    width: auto;
    font-size: 12px;
    line-height: 22px;
  }
  .anyone-content-cta-textblock {
    width: auto;
    padding-right: 10px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
  }
  .anyone-content-cta-button {
    width: 200px;
    letter-spacing: 0.75px;
  }
  .anyone-content-cta-button-textblock {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .anyone-section {
    display: none;
  }
  .anyone-container {
    padding-top: 50px;
    padding-left: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .anyone-content-h2 {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
  .anyone-content-stats-wrapper {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .anyone-content-stats-div {
    width: 40%;
    margin-right: 0;
    margin-bottom: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .anyone-content-stats-div-textblock-1 {
    width: auto;
  }
  .anyone-content-stats-div-textblock-2 {
    width: auto;
  }
  .anyone-content-cta-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .anyone-content-cta-textblock {
    display: block;
    width: 350px;
    margin-bottom: 30px;
    padding-right: 0;
    font-size: 16px;
    text-align: center;
  }
  .anyone-content-cta-button {
    width: 200px;
  }
}
@media (max-width: 479px) {
  .anyone-section {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-image: none;
  }
  .anyone-container {
    padding-bottom: 50px;
  }
  .anyone-content-h2 {
    font-size: 22px;
    line-height: 32px;
    width: 350px;
  }
  .anyone-content-stats-wrapper {
    padding-left: 0;
  }
  .anyone-content-stats-div {
    width: 51%;
    margin-bottom: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .anyone-content-stats-div-textblock-1 {
    font-size: 20px;
  }
  .anyone-content-stats-div-textblock-2 {
    font-size: 12px;
  }
  .anyone-content-cta-textblock {
    font-size: 14px;
    line-height: 24px;
  }
  .anyone-content-cta-button {
    width: 200px;
  }
}
