<div class="selectedclaimstotalcomponent" *ngIf="!loading">
    <div class="selectedclaims-totalcontainer">
      <div class="selectedclaims-totalwrapper">
        <div class="selectedclaims-totaldiv">
          <div class="selectedclaims-total-textblock1">Selected Claims</div>
        </div>
        <div class="selectedclaims-totaldiv middle">
          <div class="selectedclaims-total-textblock1 number">{{totalNumberOfClaims}}</div>
        </div>
        <div class="selectedclaims-totaldiv">
          <div class="selectedclaims-total-textblock1 value">{{totalValueOfClaims}}</div>
        </div>
      </div>
    </div>
</div>