<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
    <cf-display-div class="hero-results-box-a-results-div state"[isState]="true"  [stateName]="stateName" [name]="'State'" [currency]="false"></cf-display-div>
    <cf-display-div class="hero-results-box-a-results-div" [isState]="false" [number]="totalValue" [name]="'Total Value of Claims'" [currency]="true"></cf-display-div>
    <cf-display-div class="hero-results-box-a-results-div" [isState]="false" [number]="numberOfClaims" [name]="'Number of Claims'" [currency]="false"></cf-display-div>
     <cf-display-div class="hero-results-box-a-results-div end" [isState]="false" [number]="average" [name]="'Average Value of Claims'" [currency]="true"></cf-display-div>





