<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<cf-signup></cf-signup>
<form id="email-form" name="email-form" (ngSubmit)="submitForgot()" #forgotForm="ngForm">
<!--  <div class="forgot-password-text-div">
    <div class="sign-in-text-block">Enter your email address, and we'll send you a link to reset your password.</div>
  </div>-->
  <div *ngIf="errorMessage" class=error-message>
     <p>{{errorMessage}}</p>
  </div>
  <div class="sign-in-form-div">
    <input class="sign-in-field w-input" id="email" maxlength="256" name="Password-2" required="required" type="email" placeholder="Email" [(ngModel)]="email">
  </div>
  <div class="fp1 sign-in-button-div w-clearfix">
    <button class="sign-in-button w-button" type="submit"  [disabled]="!forgotForm.form.valid">Submit  &gt;</button>
      <a class="sign-in-link" (click)="showSignUpModal($event)">Don't have an account?</a>
  </div>
</form>
