<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
 <div class="sign-in-section">
    <div class="sign-in-container fp w-container">
      <div class="sign-in-header fp">
        <h1 class="sign-in---h1">Forgot Your Password?</h1>
      </div>
      <div class="sign-in-body w-form">
          <div class="sign-in-form">
            <cf-forgot-password-form></cf-forgot-password-form>
          </div>
    </div>
