<!DOCTYPE html>
<form id="email-form" name="email-form" (ngSubmit)="submitReset()" [formGroup]="passResetForm">
  <!--<form id=" email-form" name="email-form">-->
  <cf-error-bar id="resetPass"
    [backendErrorKeysToFrontendFormMap]="backendErrorKeysToFrontendFormMap"
    [form]="passResetForm"
    [showErrors]="showError"
  ></cf-error-bar>
  <div *ngIf="showError" class="text-link">
    <p *ngIf="forgotLink"><a (click)="goToForgot()" [style.cursor]="'pointer'">Please go to forgot password page
        again.</a></p>
  </div>
  <div *ngIf="!forgotLink">
    <cf-reset-password-form-input-field [passResetForm]="passResetForm"></cf-reset-password-form-input-field>
  </div>
</form>